@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700&subset=cyrillic,cyrillic-ext');

body {
   margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color:rgba(239, 236, 236, 0.87);
}

.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF4081; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
.text-light-color      { color: rgba(255, 255, 255, 0.78); }

@media all and (max-width:650px){
  #top{
      visibility: hidden;
  } 
 header{
      height:5em;
  }
 .menu-hidden{
    display: block;
    position: fixed;
    list-style:none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #1976D2;
    height: 100%;
    top: 0;
    right: -200px;
    transition: right .2s;
    z-index: 5;
    
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .menu-ticker {
    display: none;
}
.btn-menu {
  color: #fff;
  background-color: #2196F3;
  padding: 5px;
  position: fixed;
  top: 1em;
  right: 1em;
  cursor: pointer;
  transition: right .23s;
  z-index: 8;
  width: 25px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 5px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.line_up {
  margin-top: 0;
}
  .menu-ticker:checked ~ .btn-menu {
  right: 160px;
}
.menu-ticker:checked ~ .menu-hidden {
  right: 0;
}
.menu-ticker:checked ~ .btn-menu span.line_up {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.menu-ticker:checked ~ .btn-menu span.line_middle {
  opacity: 0;
}

.menu-ticker:checked ~ .btn-menu span.line_down {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}

#menu label[for="property"]+ul{
    position: static !important;
    margin-top:1em;
    
}
#logo{
  position: fixed;
  top: 5px;
  left: 5px;
  z-index:2;
   font-size:75%; 
}

#logo>.img{
    
    padding-left: 0!important;
    
}

.search{
    height:5em;
}
.search-ticker-line{
    display: block!important;
    position: fixed;
    right:4.7em;
    top: 1em;
    width: 25px;
    padding: 5px;
    text-align: center;
    color: #fff;
    cursor:pointer;
}

 form.search-top{
    display: block;
    position: fixed;
    list-style:none;
    padding: 0px;
    box-sizing: border-box;
    width: 70vw;
    margin:0 0;
    top: 6.7em;
    right: -35em;
    transition: right .2s;
    z-index: 5;
   
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .search-ticker:checked ~ .search-top {
  right:0;
  
}



.search-input{
      background-color: #FFF;
      color: #212121;
      padding: .6em .4em;
       border-radius: .4em;
}
.search-top>button[value="SEARCH"]{
       color: #fff;
      background-color: #2196F3;
      text-align: center;
      cursor: pointer;
      padding: .6em .4em;
      border-radius: .4em;
  }

.search-middle{
    display:none;
}
.search-ticker{
   display:none; 
}
.search{
    display:none!important;
}

.logoMenu>.map-small{
    display: block!important;
    position: fixed;
    right:8em;
    top: 1em;
    width: 25px;
    padding: 5px;
    text-align: center;
    color: #fff!important;
    cursor:pointer;
}
.fa-map-marker{
    color:#fff!important;
}
.map-ticker:checked ~ .modal {
  display:block;
  
}


.map-ticker{
   display:none; 
}

.submit{
    right:.5em!important;
}


 /* .logoMenu{
      display:flex;
      flex-direction: column;
      width:100%;
  }*/
  .big-block{
       flex-direction: column;
       
     
   }
   .content-aside {
       margin-top: 8em!important;
       padding:1em!important;
       
   }
    .all-prices{
        flex-direction: column;
        
    }
    .price{
        min-width: 100%!important;
    }
    .item{
        min-width: 100%!important;
    }
    
    #crumbs{
    
    margin-top:0.5em !important;
}
    footer{
        display:none!important;
    }
    .item{
    min-width: 100% !important;
}
.content-aside{
       flex-flow: column;
      
       
   }
   aside{
        min-width: 100%!important;
         margin:0!important;
        
    }
    .agents{
      flex-wrap:nowrap!important;  
    }
    main{min-width:100%!important;}
    .totop{
        display:none;
    }
   
}

@media all and (max-width:1017px){
     header{
         max-height: 12em;
     }
     #menu ul li{
        flex:1 1 25%;
    }
    
   .big-block{
       flex-direction: column;
   }
   .search{
       padding-top:8em!important;
   }
   .item{
        min-width: 100%!important;
    }
   
   main{
       min-width: 50%;
       
   }
    .cabinet{
        display:none;
    }
   
.price{
    min-width:100%!important;
    padding:0!important;
}
.price:last-of-type, .price:nth-of-type(2){
    margin-top: 2em;
}
#top>a>i{
    display: none;
}
#top{
    padding:0!important;
    height:2em;
}
  .aside{
        min-width: 30%!important;
        
         margin-right:0!important;
        margin-top:1em!important;
    }
    .agent{
        flex-wrap: wrap!important;
        padding-left:2em!important;
    }
    .connect{
       
        align-self: center!important;
        padding-left:1em!important;
        margin:0!important;
        text-align:center!important;
    }
    
    .modal-body>form{
    
   
    font-size: 1em!important;
    }
    .modal-body>form>textarea.message-big{
    height: 3em !important;
    
}
.modal-body>input{
    font-size: 1em!important;
}
.modal-header>h2{
    font-size: 1em!important;
}

.content-aside #crumbs{
    
    margin-top:1.5em;
}

   
}
@media all and (min-width:1200px){
    .header, .content, footer{ 
    width: auto;
    }
}

.totop{
    background-color: #1976D2;
    width: 3em;
   height:3em;
   border-radius:100%;
    position:fixed;
    right: 1em;
    bottom:1em ;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transform: translateZ(0); transition: all 0.5s ease;
    opacity:0.8;
   
}
.totop i{
    position: absolute;
    top: 50%;
    left:50%;
    opacity:1;
    transform: translate(-50%, -50%);
    color:#FF4081;
}
.totop>a{
     transition:all 5s linear;
}
.totop:hover {box-shadow: 0 0 10px rgba(0,0,0,0.4); opacity:1; }
.totop:active { transform: scale(1.1,1.1); }
.totop:focus { outline: 0; border:none; color: rgba(0, 0, 0, 0); }



.preloader{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#2196F3;
    
    z-index: 99;
    transition: 1s all;
    visibility: visible;
    animation: 3s load linear both;
   
}
.loader{
    width: 6vw;
    height:6vw;
    border: .7vw solid #fff;
    border-radius:50%;
    border-top-color:#FF4081;
    border-bottom-color:#1976D2;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    animation: 2s circle infinite ease-in-out;
   
}
@keyframes circle{
    from{
       transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes load{
    from{
       opacity: .9;
    }
    to {
        opacity: 0;z-index: -1; 
    }
}

#crumbs{
    width: 100%;
    margin:0;padding:0;
    align-self: baseline;
        
    
}
#crumbs ul li{
        list-style:none;
        
}
#crumbs ul{
    display:flex;
    margin:0em;
    padding:0;
}
#crumbs ul li{
    font-size: 1em;
    color: #757575;
}
#crumbs ul li a{
    text-decoration: none;
    font-size: 1em;
    color: #757575;
}
#crumbs ul li a:after {
    content: " / ";  
    color: #1976D2;
    }

#crumbs ul li a:hover{
    text-decoration: underline;
    color: #1976D2;
}


.container{
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin:0; padding:0;
    overflow: hidden;
    min-height: 100vh;
    align-items:stretch;
}


header {
    flex: 2;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: #2196F3;
   position: fixed;
    z-index: 20;
    width:100%;
    top: 0;
}
.header+div{
    width:100%;
}

/* Cтили слоя затемнения и модального окна  */
.overlay {
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1;
visibility: hidden;
/* фон затемнения */
background-color: rgba(0, 0, 0, 0.7);
opacity: 0;
position: fixed; /* фиксированное поцизионирование */
cursor: default; 
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-ms-transition: opacity .5s;
-o-transition: opacity .5s;
transition: opacity .5s;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.modal>iframe {
top: 0;
right: 0;
bottom: 0;
left: 0;
display:block;
margin: auto;
min-width: 320px;
max-width: 800px;
max-height: 80vh;
width: 100%;
}

/* Cтили модального окна*/
.modal {
top: 0;
right: 0;
left: 0;
font-size: 14px;
z-index: 10;
display: block;
visibility: hidden;
margin: 0 auto;
width: 80%;
min-width: 250px;
max-width: 800px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
position: fixed;
padding: 15px;
border: 1px solid #383838;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
background-color: #FFFFFF;
/* внешняя тень блока */
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
/* полная прозрачность окна, появление при клике */
opacity: 0;
/* эффект перехода (появление) */
-webkit-transition: all ease .5s;
-moz-transition: all ease .5s;
-ms-transition: all ease .5s;
-o-transition: all ease .5s;
transition: all ease .5s;
}
/* активируем появление окна и затемнение фона */
.overlay:target+.modal {
top: 10vh; /* положение окна от верха страницы при появлении */
visibility: visible;
opacity: 1; /* убираем прозрачность */
}
/* кнопка закрытия */
.close {
position: absolute;
top: -10px;
right: -10px;padding: 0;
width: 20px;
height: 20px;
border: 2px solid #ccc;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
background-color: rgba(61, 61, 61, 0.8);
-webkit-box-shadow: 0px 0px 10px #000;
-moz-box-shadow: 0px 0px 10px #000;
box-shadow: 0px 0px 10px #000;
text-align: center;
text-decoration: none;
font-weight: bold;
line-height: 20px;
/*эффект перехода при наведении */
-webkit-transition: all ease .8s;
-moz-transition: all ease .8s;
-ms-transition: all ease .8s;
-o-transition: all ease .8s;
transition: all ease .8s;
}
.close:before {
color: rgba(255, 255, 255, 0.9);
content: "X";
text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
font-size: 12px;
}
.close:hover {
background-color: #FF4081;
/* крутим кнопку при наведении */
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}

.logoMenu{
    flex: 4;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: baseline;
    min-height: 5vw;
    
    
}
#logo{
    flex: 1;
    align-self: center;
    display: flex;
    flex-flow:column wrap;
    align-items:center;
    justify-content: center;
  
}
#logo>.img{
    
    align-self: center;
   margin:0;
}
.logoname{
    color:#fff;
    margin:0; padding:0;
    font-size: 1.6em!important;
    font-weight: 500!important;
    font-family: 'Roboto', cursive;
   text-align: center;
}

.flip{
perspective: 1000;
align-self: center;
    width: 9em;
    position: relative;
    top: 0vw;
    margin:0; padding:0;
}

.flip:hover .backfaces{

transform: rotateY(180deg);

}

.flip, .front, .back {

 width: 9em;


}

/* здесь находится скорость перевертывания */
.backfaces {

transition:2.5s;
transition-delay: .5s;

transform-style: preserve-3d;
 

}

/* скройте обратную сторону во время переворота */

.front, .back {

backface-visibility: hidden;
position: absolute;
    top: -0.5em;
    left: 0vw;
    width:100%;
    transform-style: preserve-3d;
    cursor:pointer;
}

 
/* лицевая сторона размещена над обратной */

.front {

z-index: 2;

}

/* обратная, изначально скрытая сторона */

.back {
transform: rotateY(180deg);
}
/*.backfaces {
    align-self: center;
    width: 9em;
    
    position: relative;
    margin:0; padding:0;
}
.front, .back {
    position: absolute;
    top: -1vw;
    left: 0vw;
    backface-visibility: hidden;
    transition: 2s;
transform-style: preserve-3d;
    cursor:pointer;
    width:100%;
    
}

.backfaces .back{
    transform:rotateY(180deg);
}

#flip:checked+.backfaces .front{
    transform:rotateY(180deg);
}
#flip:checked+.backfaces .back{
    transform:rotateY(360deg);
}
#flip{
    display:none;
}
*/

.submit {
     
    align-self: flex-end;
    border-radius: 100%;
    /*padding: 0.2em 0.2em;*/
   width: 3em;
   height:3em;
    position:relative;
    top: 1.5em;
    right: 3em;
    background: #FF4081;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transform: translateZ(0); transition: all 0.5s ease;
}

.submit:hover {box-shadow: 0 0 10px rgba(0,0,0,0.4); }
.submit:active { transform: scale(1.1,1.1); }
.submit:focus { outline: 0; border:none; color: rgba(0, 0, 0, 0); }


.fa-plus {
    position: absolute;
    text-align:center;
    left: 50%;
    bottom:0%;
    transform: translate(-50%, -100%);
    color: #fff;
    cursor:pointer;
}
    
   
/* кнопка закрытия окна */
.modal-1 .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: -10px;
    top: -10px;
   width: 20px;
   height: 20px;
border: 2px solid #ccc;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
background-color: rgba(61, 61, 61, 0.8);
-webkit-box-shadow: 0px 0px 10px #000;
-moz-box-shadow: 0px 0px 10px #000;
box-shadow: 0px 0px 10px #000;
text-align: center;
font-weight: bold;
line-height: 20px;
/*эффект перехода при наведении */
-webkit-transition: all ease .8s;
-moz-transition: all ease .8s;
-ms-transition: all ease .8s;
-o-transition: all ease .8s;
transition: all ease .8s;
}

.btn-close:hover {
background-color: #FF4081;
/* крутим кнопку при наведении */
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}

/* слой затемнения */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 5vh;
}
/* элементы модального окна */
.modal-dialog {
    background: #bdbdbd;
    border: none;
    border-radius: 5px;
    position: fixed;
    max-width: 600px;
    left: 50%;
    top: -100%;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    z-index: 103;
    
}
.modal-header>h2{
    text-align: center;
    color:#212121;
    
}

.modal-body {
  padding: 20px;
  background-color: #ccc;
  
}
.modal-body p {
    margin: 0;
}

/* кнопки */

.btn-primary {
    background: #428bca;
    border-color: #357ebd;
    color: #fff;
}

.modal-body>form{
    
    width:100%;
    color:#ccc;
    font-size: 1.2em;
    text-transform: uppercase;
    display: flex;
    flex-flow:column wrap;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
    
    
}



/* Поле сообщения */
.modal-body>form>textarea{
    width:100%;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-size:1.2em;
    font-family: 'Roboto';
    color:#757575;
    margin-bottom:.5em;
    overflow:hidden;
    box-sizing: border-box;
    padding: .3em 0 0 1em;
    
}
.modal-body>form>textarea.message-small{
    height: 2em;
    
}
.modal-body>form>textarea.message-big{
    height: 5em;
    
}
/* Поля ввода */
.modal-body>form>input:not(.btn) {
    width: 100%;
    height: 2em;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 3px;
    background-clip: padding-box; 
    display:block;
    font-size:1em;
    color:#fff;
    box-sizing: border-box;
    margin-bottom:.5em;
}
.modal-body>form>input.name, 
.modal-body>form>input.mail, 
.modal-body>form>textarea,
.modal-body>form>select{
    background: #2196F3; 
    padding-left:1em;
}
.modal-body>form>select{
    height: 2em;
    color: #fff;
    font-size: 1em;
    margin-bottom:.5em;
    cursor:pointer;
}
.modal-body>form>select option{
    background-color: #fff;
    color: #757575;
    cursor:pointer;
}

::-webkit-input-placeholder {
    color: #fff;
}
:-moz-placeholder{ 
    color: #fff; 
}
::-moz-placeholder {
    color: #fff;
}
:-ms-input-placeholder {  
    color: #fff; 
}
input:focus, textarea:focus { 
    background-color: #fff !important;
    color: #757575!important;
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden; 
}
input.btn {
    width:5em;
    margin-right: 0;
    height: 2em;
    align-self: flex-end;
    cursor: pointer;
    background-color: #FF4081;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,.4);
    color: #FFF;
    margin: 1em;
    padding: 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    font-size:1em;
    font-weight: 300;    
    box-sizing: border-box;
   
}
.btn:hover {
    background: #1976D2;
    }
.btn:active {
    margin-top:1px;
    border: 1px solid #333333;
    background-color: #FF4081;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    outline: none;
}



    
    
    
.search-ticker, .search-ticker-line, .search-top{
    display: none;
}

#menu{
  flex:2;
  align-self: center;
  
}
#menu>li{
    position: relative;
    width: 100%;
    
}
#menu input[type=checkbox]{
        position: absolute;
}

#menu label[for="property"], #menu a{
    position: relative;
    cursor:pointer;
    padding: 1em;
}
#menu label[for="property"]+ul{
    position: absolute;
    background-color: #FFF;
    display:none;
    padding: 0 !important;
   
    transition: all .25s ease .1s;
    color:#212121;
}
    
  /*  transition: all 3s ease;
    transform: scale(0);
    transform-origin: 0 0;
    
}*/

#menu input[type=checkbox]:checked+label[for="property"]+ul,
#menu input[type=checkbox]:checked + label:nth-of-type(n) + ul{  /*реализует механизм выпадения*/
    display:block;
    z-index:3;
    transform: scaleY(1);
    
}
 #menu label[for="property"]:after {
                content: " ";
                position: absolute;
                border: 5px solid;
                border-left-color: transparent;
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-top-color: #fff;
                bottom: 0.9em;
                right: 0;
                transition: 2s;
                }
             #menu input[type=checkbox]:checked + label[for="property"]:after{
                content: " ";
                position: absolute;
                border: 5px solid;
                border-top-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                border-bottom-color: #fff;
                bottom: 1.2em;
                right: 0;
                
                
            }
            
            
#menu>ul{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  margin:0 auto;
  padding-right: 2em;
  padding-top: 2em;
  
}
 

#menu ul li{
        list-style:none;
    	font-size: .8em;
    	font-weight: 300;
		padding: 1em 2em;
		align-self: center;
		
} 

#menu>ul>li>a{
    /*color: #FFF;
    border: 1px solid #0F0;
    
    background-color: #0F0;
    padding: 0.5vw 2vw;
    margin: 0.5vw 1vw;
    box-shadow: 0 7px 8px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    box-shadow: 0 0 3px 3px darkgreen inset;
    transition: .2s linear;*/
	color: rgba(255, 255, 255, 0.78);
	text-decoration:none;
	text-transform:uppercase;
	
	
}
#menu ul li:hover{
    color: #FFF;
    /*transition: transform .5s, background-color 1s ease-in .5s; */
    
    border-bottom: .1em solid #FF4081;
}
#menu ul li a:hover, #menu label[for="property"]:hover{
    color:#FFF;
}

  
    #menu ul li ul li a{
            display:block;
            text-decoration: none;
            text-transform:uppercase;
            color: #212121;
           
        }
        #menu ul li ul li:first-child a {
            border-top:0px;
            
        }
        #menu ul li ul li a:hover{
            color:#212121;
        }
        #menu ul li ul li a {
            border-top:0px;
            width:6em;
            padding:1em 0;
            font-size: 1.2em;
            
        }

#menu ul .current, label[for="property"]{
    color:#fff;
    font-weight: 300;
}
input#property{
    display:none;
}
input#hmt{
    display:none;
}

#top {
    align-self: flex-end;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100vw;
    color: rgba(255, 255, 255, 0.78);
    background-color: #1976D2;
    padding-right: 1em;
    
}
#top * {
   padding:.4em;
    font-size: small;
}
#top a:last-of-type{
   padding-right: 2em;
}

.map{
    align-self: flex-end;
    padding: 0.5em 2em;
    font-style: italic;
    color: #000;
    font-weight: bold
}
.map-small{
    display:none;
}

ul li{
    list-style: none;
    
}
.logoname a{
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Roboto', cursive;
}
.fa-star, .fa-user-o, .fa-sign-in, .fa-facebook-square, .fa-facebook, .fa-twitter, .fa-linkedin, .fa-twitter-square, .fa-linkedin-square, .fa-google-plus-square, .fa-skype, .fa-youtube-square, .fa-bars, .fa-map-marker>span, .phone a:hover{
   color: rgba(255, 255, 255, 0.78);
}
.fa-facebook-square:hover, .fa-twitter-square:hover,  .phone a:hover, .map a:hover,.profile a:hover, .favorities a:hover, .cabinet a:hover,.fa-phone:hover, .fa-facebook:hover, .fa-twitter:hover, .fa-linkedin:hover,.fa-linkedin-square:hover, .fa-google-plus-square:hover, .fa-youtube-square:hover{
    color:#fff;
}
.phone .fa-phone{
  color: rgba(255, 255, 255, 0.78);  
}
.phone{
    display:inline-block;
}
.profile a, .favorities a, .cabinet a, .phone a{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.74);
     
}
.map a {
    text-decoration: none;
}
.submit a{
   text-decoration: none;
   color: #FFF;
}
#crumbs{
     
     font-size: .8em
 }
 



footer {
    flex: 1;
    font-weight: 100;
    background-color: #2196F3;
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    
}
footer>div{
    align-self: stretch;
    padding: 1em 0 1em 0;
    font-size: small;
    margin: 0 5em;
    border-top: 0.05em solid rgba(213, 205, 205, 0.87);
    background-color: #2196F3;
    color: #FFF;
}
footer .footer_menu{
    align-self: baseline;
    flex-grow:1;
    padding-bottom: 1em;
    color: rgba(255, 255, 255, 0.78);
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items:stretch;
    width: 100%;
    
}
.footer_menu_sub{
    align-self:baseline;

    
}
.footer_menu_sub h5{
    color: #FFF;
    text-transform: uppercase;
    margin:1em 0 ;
    text-align: center;
     letter-spacing: 0.01em
     
    
}
.footer_menu_sub>h5>ul>li{
    list-style: none;
    text-decoration: none;
    font-size: 0.6em;
    text-align: right;
   
}

.footer_menu_sub ul li a{
    color: rgba(255, 255, 255, 0.78);
	text-decoration:none;
	font-size: small;
}
.footer_menu_sub ul li a:hover{
    color: #fff;
    
}
.footer_menu_sub:last-of-type{
  display: flex;
   flex-flow: row wrap; 
   justify-content:space-around; 
   
}
.footer_menu_sub:last-of-type h5{
   width:100%; 
   align-self: center;
   margin-bottom: 1.5em;
}
