
@media all and (max-width:650px){
  
 
   .content-aside {
       margin-top: 0em!important;
      
   }
   
   .item{
       flex-direction: column!important;
   }
   
   main{
    
     min-width:100%!important;
    
}
  .content aside{
    
   min-width:100%!important;
     margin-top: 1em!important;
      margin: 0em 2em 0 2em; 
      
  }
  .content #crumbs{
     margin-left: -1em!important;
     margin-top:9em!important;
}

}

@media all and (max-width:1017px){
     #menu ul li{
        flex:1 1 25%;
    }
  .content .content-aside{
       flex-direction: column;
       margin-top: 0em!important;
   }
   .arrows {
    width: 92% !important;
}
}
  #crumbs{
     margin-top: 13.5em!important;
    padding-left: 1em!important
}
   
    .photo img{
    margin: 25%;
}
main{
       
       min-width: 100%;
       
   }
    aside{
        min-width: 100%;
        margin-left:1em!important;
    }



/*Flexbox - content*/

.content {
    flex: 10;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: stretch;
    /*padding: 2em;*/
    margin-top: -9vw;
    
}

.content-aside {
    flex: 6;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5em;
    margin-top: 5em!important;
    
}
#crumbs{
     padding-left: 4.5em;
}

main {
     flex:3;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
   
}


.propertyDetail, .description, .position, .facilities, .plan {
     flex:1;
    box-sizing:border-box;
    padding:  0em;
    border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
    align-self:stretch;
    font-weight: 100;
    margin: 1em;
    color:#BDBDBD;
}

.item {
    flex:1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: 1em;
    padding:0;
    
   
}
.position+div{
   background-color: #fff; 
   
}


.description-item, .facilities+div, .plan+figure{
    flex: 1;
    color:#212121;
    box-sizing: border-box;
    display:flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    margin: .5em 0em 1em 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: .9em;
    line-height: 2em;
    padding: .5em;
    
}
.plan+figure{
    width:100%;
    height:100%;
}

.item-plan{
    position:relative;
    width: 72vw;
    padding:0;
}

.plan-big {
        margin:0;
            }
            .min-block{
                position:  absolute;
                background: transparent;
                z-index:5;
                cursor:pointer;
                border: 5px solid #FF4081;
                box-sizing: border-box;
                opacity:0;
                transition: opacity 1s linear;
            }
            .small{
               position:  absolute;
                z-index:4;
                cursor:pointer; 
                width: 6vw;
                height:4.5vw;
                display:none;
                transition: all 3s 5s linear;
            }
            
            .kitchen:hover~.k{
             top:4vw;
            left: 37vw;  
            display:block;
            
            }
             .livingroom:hover~.l{
             top:16vw;
            left: 11.5vw;  
            display:block;
            }
             .bedroom1:hover~.b1{
             top:18vw;
            left: 34.5vw; 
            display:block;
            }
              .bedroom2:hover~.b2{
             top:17.8vw;
            left: 47.5vw;
            display:block;
            }
             .garage:hover~.g{
             top:13.5vw;
            left: 62.5vw;  
            display:block;
            }
              .storage:hover~.stor{
             top:22.5vw;
            left: 23.3vw;   
            display:block;
            }
              .studio:hover~.stud{
             top:31vw;
            left: 25.9vw;  
            display:block;
            }
             .lobby:hover~.lob{
             top:34vw;
            left: 8.5vw;   
            width: 4.5vw;
            height: 3.5;
            display:block;
            }
            
            .kitchen:hover, 
            .bedroom1:hover,
            .bedroom2:hover,
            .livingroom:hover,
            .storage:hover, 
            .garage:hover,
            .lobby:hover,
            .studio:hover{
                opacity:1;
            }
            
            .kitchen{
                top: 3vw;
                left:22vw;
                width: 22vw;
                height:7vw;
            }
            
            .bedroom1{
                top: 14vw;
                left:30.8vw;
                width: 13.8vw;
                height:13.6vw;
               
            }
            .bedroom2{
                top: 14vw;
                left:44.5vw;
                width: 12.7vw;
                height:13.5vw;
               
            }
             .livingroom {
                top: 3vw;
                left:8.1vw;
                width: 13.9vw;
                height:24.6vw;
                }
                .storage {
                top: 14.3vw;
                left:21.8vw;
                width: 9.2vw;
                height:13.2vw;
                }
                 .garage {
                top: 3vw;
                left:57vw;
                width: 13vw;
                height:24.5vw;
                }
                 .lobby {
                top: 27.4vw;
                left:8vw;
                width: 12.1vw;
                height:12vw;
                }
                 .studio {
                top: 27.4vw;
                left:20vw;
                width: 12.3vw;
                height:12.1vw;
                
                }
                
                
                /* Cтили слоя затемнения и модального окна  */
.overlay {
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1;
visibility: hidden;
/* фон затемнения */
background-color: rgba(0, 0, 0, 0.7);
opacity: 0;
position: fixed; /* фиксированное поцизионирование */
cursor: default; 
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-ms-transition: opacity .5s;
-o-transition: opacity .5s;
transition: opacity .5s;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.modal>img {

top: 10vw;
right: 0;
bottom: 0;
left: 0;
display:block;
margin: auto;
min-width: 320px;
max-width: 100%;
width: 100%;
max-height: 80vh;
}
.modal>.read{
    position:absolute;
    z-index:50;
    left:-3vw;
    top:0;
    width: 25vw;
    max-height:80vh;
    border-radius: 3px;
    padding:10px;
    background: #fff;
    font-size: 1.2em;
    text-align: left;
   
}
/* Cтили модального окна*/
.modal {
top: 0;
right: 0;
left: 0;
font-size: 14px;
z-index: 30;
display: block;
visibility: hidden;
margin: 0 auto;
width: 90%;
min-width: 320px;
max-width: 70vw;
/* фиксированное позиционирование, окно стабильно при прокрутке */
position: fixed;
padding: 15px;
border: 1px solid #383838;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
background-color: #FFFFFF;
/* внешняя тень блока */
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
/* полная прозрачность окна, появление при клике */
opacity: 0;
/* эффект перехода (появление) */
-webkit-transition: all ease .5s;
-moz-transition: all ease .5s;
-ms-transition: all ease .5s;
-o-transition: all ease .5s;
transition: all ease .5s;
}
/* активируем появление окна и затемнение фона */
.overlay:target+.modal {
top: 5%; /* положение окна от верха страницы при появлении */
visibility: visible;
opacity: 1; /* убираем прозрачность */
}
/* кнопка закрытия */
.close {
position: absolute;
top: -10px;
right: -10px;padding: 0;
width: 20px;
height: 20px;
border: 2px solid #ccc;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
background-color: rgba(61, 61, 61, 0.8);
-webkit-box-shadow: 0px 0px 10px #000;
-moz-box-shadow: 0px 0px 10px #000;
box-shadow: 0px 0px 10px #000;
text-align: center;
text-decoration: none;
font-weight: bold;
line-height: 20px;
/*эффект перехода при наведении */
-webkit-transition: all ease .8s;
-moz-transition: all ease .8s;
-ms-transition: all ease .8s;
-o-transition: all ease .8s;
transition: all ease .8s;
}
.close:before {
color: rgba(255, 255, 255, 0.9);
content: "X";
text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
font-size: 12px;
}
.close:hover {
background-color: #FF4081;
/* крутим кнопку при наведении */
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}
      






.slider {
    flex:5;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: .5em;
    background-color: #fff;
    width:100%;
    height:100%;
}

.slides {
   padding:0;
}

.slides .block {
    width: 500%;
    transition: all .5s ease-in-out;
}

.letter {
    float: left;
    width: 20%;
}

.letter img {
    width: 100%;
    height:21em;
}

.letter:after {
    clear: both;
    content: "";
    height: 0;
    display: block;
}

.overflow {
    overflow: hidden;
}

.slider input {
    display: none;
}

.arrows {
    position: absolute;
    left: .8em;
    top: 10em;
    width: 95%;
    height: 1em;
}

.arrows label {
    opacity: 0.8;
    display: none;
    cursor: pointer;
}

.arrows label:hover {
    opacity: 1;
}

#slide1:checked~.arrows label:nth-child(2),
#slide2:checked~.arrows label:nth-child(3),
#slide3:checked~.arrows label:nth-child(4),
#slide4:checked~.arrows label:nth-child(5),
#slide5:checked~.arrows label:nth-child(1) {
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-left: 1em solid #333;
    border-bottom: 1em solid transparent;
    display: block;
    float: right;
}

#slide1:checked~.arrows label:nth-child(5),
#slide2:checked~.arrows label:nth-child(1),
#slide3:checked~.arrows label:nth-child(2),
#slide4:checked~.arrows label:nth-child(3),
#slide5:checked~.arrows label:nth-child(4) {
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-right: 1em solid #333;
    border-bottom: 1em solid transparent;
    display: block;
    float: left;
}

#slide1:checked~.slides .block {
    margin-left: 0;
}

#slide2:checked~.slides .block {
    margin-left: -100%;
}

#slide3:checked~.slides .block {
    margin-left: -200%;
}

#slide4:checked~.slides .block {
    margin-left: -300%;
}

#slide5:checked~.slides .block {
    margin-left: -400%;
}

.pins {
    text-align: center;
    margin-top: -1.5em;
}

.pins label {
    width: .5em;
    height: .5em;
    display: inline-block;
    background: #aaa;
    border-radius: 50%;
    box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.6), 0px 1px 1px 0px white;
    cursor: pointer;
    margin: .1em;
}

.pins label:hover {
    background-color: #777;
}

#slide1:checked~.pins label:nth-child(1),
#slide2:checked~.pins label:nth-child(2),
#slide3:checked~.pins label:nth-child(3),
#slide4:checked~.pins label:nth-child(4),
#slide5:checked~.pins label:nth-child(5) {
    background-color: #777;
}


.detail {
    flex: 3;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: flex-start;
    padding:.5em 1em .5em 1em;
}
.overview{
    font-size:1.2em;
    padding: .5em 0 0.5em 0em;
    color:#757575;
    text-transform: uppercase;
    border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
}
.overview:hover{
    color: #FF4081;
}
.overview+.detail-block{
    padding-top: .7em;
}
 .detail-block{
     flex:1;
     align-self: stretch;
     display:flex;
     justify-content: space-between;
     align-items: center;
     color: #212121;
     font-size: .9em;
     padding: .2em;
 }
 .detail-block div:nth-of-type(2){
     font-weight: 600;
 }
.description-item, .facilities-detail{
   color: #212121;
   font-size: .9em; 
   
} 
.description-item{
    text-align: justify;
}
.facilities-detail{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.facilities-detail ul{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    
}
.facilities-detail ul li{
    width: 8em;
    align-self: stretch;
    position:relative;
    margin: .9em;
}
.facilities-detail ul li:before{
   content:"\2714";
   display:block;
   position: absolute;
   left: -1em;
   top: 0;
   color: #FF4081;
   
}
.facilities-detail ul li:nth-of-type(1):before, 
.facilities-detail ul li:nth-of-type(9):before, 
.facilities-detail ul li:nth-of-type(11):before,
.facilities-detail ul li:nth-of-type(5):before,
.facilities-detail ul li:nth-of-type(14):before{
   content:"\2717";
   display:block;
   position: absolute;
   left: -1em;
   top: 0;
   color: #BDBDBD; 
}

/*The end of content flexbox*/



aside{
    flex:1;
    align-self: flex-start;
    margin-top:1.9em;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #FFF;
}

.best{
    flex:1;
    padding-bottom: 0;
    border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
    align-self:stretch;
    font-weight: 100;
    margin: 0;
    color:#BDBDBD;
    padding-left: .5em;
    
    
}
.agents{
    flex:3;
    align-self:stretch;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items:flex-start;
}
.agent{
    flex:1;
    align-self: stretch;
    background-color: #fff;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding:0;
}
.photo{
    flex:1;
    align-self:center;
    padding: 0;
    padding-left: 1em;
}
.photo img{
    border-radius: 100%;
    box-shadow: 0 0 0.5px rgba(0,0,0,0.2);
    width:4em;
    height:4em;
}
.connect{
    flex:2;
    align-self:flex-start;
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items:stretch;
    margin-right: 0.8em;
}
.first{
  border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
  padding:1.3em 0 0.8em 0;
 
}

.second{
   border-bottom: 0.05em solid rgba(213, 205, 205, 0.87); 
   padding-bottom:0.8em;
   
  
}
.third{
  padding-bottom:0.3em;
  border: none;
}

.connect * {
   align-self: flex-start;
   padding-bottom: 0.5em;
    
}
.connect div:nth-of-type(2) 
{
    color:#FF4081;
    font-size:0.8em;
}
.connect div:first-of-type 
{
    color:#212121;
    font-size:1.0em;
    font-weight: 500;
     padding-top: 0.5em;
}
.connect div:last-of-type a
{
    color:#212121;
    font-size:0.8em;
    text-decoration: none;
}

.email{
    flex:2;
    align-self:stretch;
    padding: 0.8em;
    background-color:  #2196F3;
    margin-top: 1em;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.email form{
    flex:1;
    width:100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.email input[type=email]{
    flex:3;
    align-self:stretch;
    color: #FFF;
    border: none;
    border-bottom: 1px solid #FFF;
    
}
.email input[type=submit]{
    flex:1;
    align-self: flex-end;
    cursor: pointer;
    background-color: #FF4081;
    border-radius: 3px;
    color: #FFF;
    margin-top: 1em;
    padding: 0.5em;
}
.email_block .email_block_small:first-child{
    flex:2;
    align-self: flex-start;
    width: 100%;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 0.5em 0;
    font: 0.8em;
}
.email_block .email_block_small:last-child{
    flex:1;
    align-self: flex-end;
    margin-right: 0.8em;
    color: #fff;
    font-size: 0.8em;
    background:#FF4081;
    margin-top: 0.8em;
    padding: 0.5em;
    text-transform: uppercase;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
