@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700&subset=cyrillic,cyrillic-ext');

body {
   margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color:rgba(239, 236, 236, 0.87);
}

.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FF4081; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
.text-light-color      { color: rgba(255, 255, 255, 0.78); }

@media all and (max-width:650px){
  #top{
      visibility: hidden;
  } 
 header{
      height:5em;
  }
 .menu-hidden{
    display: block;
    position: fixed;
    list-style:none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #1976D2;
    height: 100%;
    top: 0;
    right: -200px;
    transition: right .2s;
    z-index: 5;
    
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .menu-ticker {
    display: none;
}
.btn-menu {
  color: #fff;
  background-color: #2196F3;
  padding: 5px;
  position: fixed;
  top: 1em;
  right: 1em;
  cursor: pointer;
  transition: right .23s;
  z-index: 8;
  width: 25px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 5px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.line_up {
  margin-top: 0;
}
  .menu-ticker:checked ~ .btn-menu {
  right: 160px;
}
.menu-ticker:checked ~ .menu-hidden {
  right: 0;
}
.menu-ticker:checked ~ .btn-menu span.line_up {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.menu-ticker:checked ~ .btn-menu span.line_middle {
  opacity: 0;
}

.menu-ticker:checked ~ .btn-menu span.line_down {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}

#menu label[for="property"]+ul{
    position: static !important;
    margin-top:1em;
    
}
#logo{
  position: fixed;
  top: 5px;
  left: 5px;
  z-index:2;
   font-size:75%; 
}

#logo>.img{
    
    padding-left: 0!important;
    
}

.search{
    height:5em;
}
.search-ticker-line{
    display: block!important;
    position: fixed;
    right:4.7em;
    top: 1em;
    width: 25px;
    padding: 5px;
    text-align: center;
    color: #fff;
    cursor:pointer;
}

 form.search-top{
    display: block;
    position: fixed;
    list-style:none;
    padding: 0px;
    box-sizing: border-box;
    width: 300px;
    margin:0 0;
    top: 7em;
    right: -40em;
    transition: right .2s;
    z-index: 5;
   
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .search-ticker:checked ~ .search-top {
  right:0;
  
}



.search-input{
      background-color: #FFF;
      color: #212121;
      padding: .6em .4em;
       border-radius: .4em;
}
.search-top>button[value="SEARCH"]{
       color: #fff;
      background-color: #2196F3;
      text-align: center;
      cursor: pointer;
      padding: .6em .4em;
      border-radius: .4em;
  }

.search-middle{
    display:none;
}
.search-ticker{
   display:none; 
}
.search{
    display:none!important;
}

.logoMenu>.map-small{
    display: block!important;
    position: fixed;
    right:8em;
    top: 1em;
    width: 25px;
    padding: 5px;
    text-align: center;
    color: #fff!important;
    cursor:pointer;
}
.fa-map-marker{
    color:#fff!important;
}
.map-ticker:checked ~ .modal {
  display:block;
  
}


.map-ticker{
   display:none; 
}
.submit{
    right:.5em!important;
}


 /* .logoMenu{
      display:flex;
      flex-direction: column;
      width:100%;
  }*/
  .big-block{
       flex-direction: column;
       
     
   }
   .content-aside {
       margin-top: 8em!important;
       padding:1em!important;
       
   }
    .all-prices{
        flex-direction: column;
        
    }
    .price{
        min-width: 100%!important;
    }
    .item{
        min-width: 100%!important;
    }
    footer{
        display:none!important;
    }
    .item{
    min-width: 100% !important;
}
.content-aside{
       flex-flow: column;
       
   }
   aside{
        min-width: 100%;
    }
    .totop{
        display:none;
    }
}

@media all and (max-width:965px){
     #menu ul li{
        flex:1 1 25%;
    }
    
   .big-block{
       flex-direction: column;
   }
   .search{
       padding-top:8em!important;
   }
   .item{
        min-width: 100%!important;
    }
   
   main{
       min-width: 50%!important;
   }
    
   
    .photo img{
   
}
.price{
    min-width:100%;
}
.price:last-of-type, .price:nth-of-type(2){
    margin-top: 2em;
}
#top>a>i{
    display: none;
}
#top{
    padding:0!important;
    height:2em;
}
  aside{
        min-width: 40%;
    }
   
   
}
@media all and (min-width:1200px){
    .header, .content, footer{ 
    width: auto;
    }
}

.totop{
    background-color: #1976D2;
    width: 3em;
   height:3em;
   border-radius:100%;
    position:fixed;
    right: 1em;
    bottom:1em ;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transform: translateZ(0); transition: all 0.5s ease;
    opacity:0.8;
}
.totop i{
    position: absolute;
    top: 50%;
    left:50%;
    opacity:1;
    transform: translate(-50%, -50%);
    color:#FF4081;
}

.totop:hover {box-shadow: 0 0 10px rgba(0,0,0,0.4); opacity:1; }
.totop:active { transform: scale(1.1,1.1); }
.totop:focus { outline: 0; border:none; color: rgba(0, 0, 0, 0); }



/*.preloader{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#2196F3;
    opacity: .9;
    z-index: 99;
    transition: 1s all;
    visibility: visible;
}
.loader{
    width: 6vw;
    height:6vw;
    border: .7vw solid #fff;
    border-radius:50%;
    border-top-color:#FF4081;
    border-bottom-color:#1976D2;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    animation: 2s circle infinite linear;
}
@keyframes circle{
    from{
       transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.done{
    
    opacity:0;
    visibility:hidden;
}
*/
.container{
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin:0; padding:0;
    overflow: hidden;
    min-height: 100vh;
    align-items:stretch;
}


header {
    flex: 2;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: #2196F3;
   position: fixed;
    z-index: 2;
    width:100%;
    top: 0;
}
.header+div{
    width:100%;
}

/* Cтили слоя затемнения и модального окна  */
.overlay {
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1;
visibility: hidden;
/* фон затемнения */
background-color: rgba(0, 0, 0, 0.7);
opacity: 0;
position: fixed; /* фиксированное поцизионирование */
cursor: default; 
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-ms-transition: opacity .5s;
-o-transition: opacity .5s;
transition: opacity .5s;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.modal>iframe {
top: 0;
right: 0;
bottom: 0;
left: 0;
display:block;
margin: auto;
min-width: 320px;
max-width: 800px;
width: 100%;
}

/* Cтили модального окна*/
.modal {
top: 0;
right: 0;
left: 0;
font-size: 14px;
z-index: 10;
display: block;
visibility: hidden;
margin: 0 auto;
width: 90%;
min-width: 320px;
max-width: 800px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
position: fixed;
padding: 15px;
border: 1px solid #383838;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
background-color: #FFFFFF;
/* внешняя тень блока */
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
/* полная прозрачность окна, появление при клике */
opacity: 0;
/* эффект перехода (появление) */
-webkit-transition: all ease .5s;
-moz-transition: all ease .5s;
-ms-transition: all ease .5s;
-o-transition: all ease .5s;
transition: all ease .5s;
}
/* активируем появление окна и затемнение фона */
.overlay:target+.modal {
top: 20%; /* положение окна от верха страницы при появлении */
visibility: visible;
opacity: 1; /* убираем прозрачность */
}
/* кнопка закрытия */
.close {
position: absolute;
top: -10px;
right: -10px;padding: 0;
width: 20px;
height: 20px;
border: 2px solid #ccc;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
background-color: rgba(61, 61, 61, 0.8);
-webkit-box-shadow: 0px 0px 10px #000;
-moz-box-shadow: 0px 0px 10px #000;
box-shadow: 0px 0px 10px #000;
text-align: center;
text-decoration: none;
font-weight: bold;
line-height: 20px;
/*эффект перехода при наведении */
-webkit-transition: all ease .8s;
-moz-transition: all ease .8s;
-ms-transition: all ease .8s;
-o-transition: all ease .8s;
transition: all ease .8s;
}
.close:before {
color: rgba(255, 255, 255, 0.9);
content: "X";
text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
font-size: 12px;
}
.close:hover {
background-color: rgba(252, 20, 0, 0.8);
/* крутим кнопку при наведении */
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}

.logoMenu{
    flex: 4;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: baseline;
    min-height: 5vw;
    
    
}
#logo{
    flex: 1;
    align-self: center;
    display: flex;
    align-items:baseline;
    justify-content: flex-end;
}
#logo>.img{
    flex:1;
    padding-left: 5em;
    padding-right: 0;
    margin:0;
    align-self: flex-end;
}
#logo>.logoname{
    flex:5;
    margin:0; padding:0;
    font-size: 1.2em;
   align-self: flex-end;
}


.submit {
     
    align-self: flex-end;
    border-radius: 100%;
    /*padding: 0.2em 0.2em;*/
   width: 3em;
   height:3em;
    position:relative;
    top: 1.5em;
    right: 3em;
    background: #FF4081;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transform: translateZ(0); transition: all 0.5s ease;
}

.submit:hover {box-shadow: 0 0 10px rgba(0,0,0,0.4); }
.submit:active { transform: scale(1.1,1.1); }
.submit:focus { outline: 0; border:none; color: rgba(0, 0, 0, 0); }


.fa-plus {
    position: absolute;
    text-align:center;
    left: 50%;
    bottom:0%;
    transform: translate(-50%, -100%);
    color: #fff;
    cursor:pointer;
}
    
    /* Стили модального окна */
.modal-header h2 {
    color: #555;  
    font-size: 20px;
    font-weight: normal;
    line-height: 1;    
    margin: 0;
}
/* кнопка закрытия окна */
.modal-1 .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.modal-1 .btn-close:hover {
    color: red;
}
/* слой затемнения */
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* элементы модального окна */
.modal-dialog {
    background: #fefefe;
    border: none;
    border-radius: 5px;
    position: fixed;
    width: 80%;
    max-width: 500px;
    left: 50%;
    top: -100%;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    z-index: 103;
}
.modal-body {
  padding: 20px;
  background-color: #bdbdbd;
}
.modal-body p {
    margin: 0;
}
.modal-header,
.modal-footer {
    padding: 20px 20px;
}
.modal-header {
    border-bottom: #bdbdbd solid 1px;
}
.modal-header h2 {
    font-size: 2em;
    margin: 0;
    text-align:center;
}
.modal-footer {
    border-top: #bdbdbd solid 1px;
    text-align: right;
}

/* кнопки */

.btn-primary {
    background: #428bca;
    border-color: #357ebd;
    color: #fff;
}

.modal-body>form{
    
    width:100%;
    color:#fff;
    font-size: 1.2em;
    text-transform: uppercase;
    display: flex;
    flex-flow:column wrap;
   
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
    
    
}



/* Поле сообщения */
.modal-body>form>textarea{
    background: rgba(255, 255, 255, 0.4); 
    width:100%;
    height: 5em;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:1em;
    font-weight: 300;
    color:#fff;
    padding: 1em 0 0 1em;
    margin-bottom:20px;
    overflow:hidden;
    box-sizing: border-box;
}
/* Поля ввода */
.modal-body>form>input:not(.btn) {
    width: 100%;
    height: 2em;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 3px;
    background-clip: padding-box; 
    display:block;
    font-size:1em;
    font-weight: 300;    
    color:#fff;
    box-sizing: border-box;
    margin-bottom:20px;
}
.modal-body>form>input.name {
    background: rgba(255, 255, 255, 0.4); 
    padding-left:1em;
}
.modal-body>form>input.mail {
    background: rgba(255, 255, 255, 0.4);
    padding-left:1em;
}
.modal-body>form>input.message {
    background: rgba(255, 255, 255, 0.4);
    padding-left:1em;
}
::-webkit-input-placeholder {
    color: #fff;
}
:-moz-placeholder{ 
    color: #fff; 
}
::-moz-placeholder {
    color: #fff;
}
:-ms-input-placeholder {  
    color: #fff; 
}
input:focus, textarea:focus { 
    background-color: #FFF !important;
    color: #757575!important;
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden; 
}
input.btn {
    width:7em;
    margin-right: 0;
    height: 3em;
    align-self: flex-end;
    cursor: pointer;
    background-color: #FF4081;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,.4);
    color: #FFF;
    margin: 1em 1em;
    padding: 0;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    font-size:1em;
    font-weight: 300;    
    box-sizing: border-box;
   
}
.btn:hover {
    background: #1976D2;
    }
.btn:active {
    margin-top:1px;
    border: 1px solid #333333;
    background-color: #FF4081;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    outline: none;
}



    
    
    
.search-ticker, .search-ticker-line, .search-top{
    display: none;
}

#menu{
  flex:2;
  align-self: center;
  
}
#menu>li{
    position: relative;
    width: 100%;
    
}
#menu input[type=checkbox]{
        position: absolute;
}

#menu label[for="property"], #menu a{
    position: relative;
    cursor:pointer;
    padding: 1em;
}
#menu label[for="property"]+ul{
    position: absolute;
    background-color: #FFF;
    display:none;
    padding: 0 !important;
   
    transition: all .25s ease .1s;
    color:#212121;
}
    
  /*  transition: all 3s ease;
    transform: scale(0);
    transform-origin: 0 0;
    
}*/

#menu input[type=checkbox]:checked+label[for="property"]+ul,
#menu input[type=checkbox]:checked + label:nth-of-type(n) + ul{  /*реализует механизм выпадения*/
    display:block;
    z-index:3;
    transform: scaleY(1);
    
}
 #menu label[for="property"]:after {
                content: " ";
                position: absolute;
                border: 5px solid;
                border-left-color: transparent;
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-top-color: #fff;
                bottom: 0.9em;
                right: 0;
                transition: 2s;
                }
             #menu input[type=checkbox]:checked + label[for="property"]:after{
                content: " ";
                position: absolute;
                border: 5px solid;
                border-top-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                border-bottom-color: #fff;
                bottom: 1.2em;
                right: 0;
                
                
            }
            
            
#menu>ul{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  margin:0 auto;
  padding-right: 2em;
  padding-top: 2em;
  
}
 

#menu ul li{
        list-style:none;
    	font-size: .8em;
    	font-weight: 300;
		padding: 1em 2em;
		align-self: center;
		
} 

#menu>ul>li>a{
    /*color: #FFF;
    border: 1px solid #0F0;
    
    background-color: #0F0;
    padding: 0.5vw 2vw;
    margin: 0.5vw 1vw;
    box-shadow: 0 7px 8px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    box-shadow: 0 0 3px 3px darkgreen inset;
    transition: .2s linear;*/
	color: rgba(255, 255, 255, 0.78);
	text-decoration:none;
	text-transform:uppercase;
	
	
}
#menu ul li:hover{
    color: #FFF;
    /*transition: transform .5s, background-color 1s ease-in .5s; */
    
    border-bottom: .1em solid #FF4081;
}
#menu ul li a:hover, #menu label[for="property"]:hover{
    color:#FFF;
}

  
    #menu ul li ul li a{
            display:block;
            text-decoration: none;
            text-transform:uppercase;
            color: #212121;
           
        }
        #menu ul li ul li:first-child a {
            border-top:0px;
            
        }
        #menu ul li ul li a:hover{
            color:#212121;
        }
        #menu ul li ul li a {
            border-top:0px;
            width:6em;
            padding:1em 0;
            font-size: 1.2em;
            
        }

#menu ul .current, label[for="property"]{
    color:#fff;
    font-weight: 300;
}
input#property{
    display:none;
}
input#hmt{
    display:none;
}

#top {
    align-self: flex-end;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100vw;
    color: rgba(255, 255, 255, 0.78);
    background-color: #1976D2;
    padding-right: 1em;
    
}
#top * {
   padding:.4em;
    font-size: small;
}
#top a:last-of-type{
   padding-right: 2em;
}

.map{
    align-self: flex-end;
    padding: 0.5em 2em;
    font-style: italic;
    color: #000;
    font-weight: bold
}
.map-small{
    display:none;
}

ul li{
    list-style: none;
    
}
.logoname a{
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Roboto', cursive;
}
.fa-star, .fa-map-marker, .fa-user-o, .fa-sign-in, .fa-facebook-square, .fa-twitter-square, .fa-linkedin-square, .fa-google-plus-square, .fa-skype, .fa-youtube-square, .fa-bars {
   color: rgba(255, 255, 255, 0.78);
}
.fa-facebook-square:hover, .fa-twitter-square:hover, .fa-linkedin-square:hover, .fa-google-plus-square:hover, .fa-youtube-square:hover{
    color:#fff;
}
.phone .fa-phone{
  color: rgba(255, 255, 255, 0.78);  
}
.phone{
    display:inline-block;
}
.profile a, .favorities a, .cabinet a{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.74);
     
}
.map a {
    text-decoration: none;
}
.submit a{
   text-decoration: none;
   color: #FFF;
}
/*Flexbox - content*/

.content{
   flex:10;
   display:flex;
   flex-flow: column wrap;
   justify-content: space-around;
   align-items: stretch;
    /*padding: 2em;*/
}

.search{
   flex: 6;
   width: 100%;
   height:50vw;
   margin:0;padding:0;
   align-self: baseline;
   background-image: url('../img/general1.jpg');
   background-position: top left;
   background-repeat: no-repeat;
   background-size: 100% auto;
   background-origin: border-box;
   transition-duration: 10s;
   transition-timing-function: easy-in-out;
   display:flex;
   flex-flow: row wrap;
   justify-content: center;
    align-items:center;
  } 
  .search:hover{
    background-image: url('../img/besthome.png');
    
   background-position: top left;
   background-repeat: no-repeat;
   background-size: 100% auto;
   background-origin: border-box;  
  }
 .search .search-content{
      align-self: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width:50%;
   }
  
  .search>.search-content>select{
      flex: 4;
      align-self:center;
      width:15em;
      background-color: #FFF;
      color: #212121;
      padding: 0.4em 0.4em;
      text-transform: uppercase;
      cursor:pointer;
      }
      
      #extra-button{
       display:none;   
      }
      label[for="extra-button"]{
          cursor:pointer;
          background-color:#FF4081;
           padding: 0.3em 0.3em;
           text-align: center;
           color: #fff;
      }
 
#extra{
       flex:7.5;
       align-self: flex-end;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
       width:100%;
       
      }
     
       #extra select{
    flex: 25%;
}
      #extra>select{
          padding:.4em;
          cursor:pointer;
          text-transform: uppercase;
      }
      
.extra-input:checked~ .search-content #extra{
    display:block;
    
}

 #extra{
       display:none;}

  /*.search>.search-content button:first-of-type{
      flex:0.5;
      background-color: #FF4081;
      text-align: center;
      color: #fff;
       padding: 0.4em 0.4em;
       cursor: pointer;
  }*/
  .search>.search-content button:last-of-type{
      flex:3;
      color: #fff;
     background-color: #2196F3;
     text-align: center;
      padding: 0.4em 0.4em;
      cursor: pointer;
  }
  
 /* .search_big{
      display:flex;
      width:100%;
      height: 100%;
      flex-flow: column wrap;
      justify-content: center;
      align-items:stretch;
  }
  
  .search_small, .search_small_extra{
      width:55%;
      align-self: center;
     
      
  }
 .search_smaller{
     display:flex;
     height: 100%;
     width: 100%;
     flex-flow: row wrap;
     justify-content: flex-start;
     align-items: stretch;
     font-size: 0.8em;
     text-transform: uppercase;
     text-align:center;
     box-shadow: 0 0 5px rgba(0,0,0,0.2);
     padding-left: 0;
     
 }
 .search_smaller *{
     align-self: stretch;
     list-style:none;
 }
    
 .search_small_extra{
     display: none;
 }
 #add:target{
     display: inline-block;
 }
 * Замена минуса на плюс при открытии экстра-меню 
.add:visited{
     background: #fff;
     content: "\f056";
 }*
 .attribute{
     flex:3;
     background-color: #fff;
     color: rgba(64, 64, 64, 0.86);
     font-weight: 500;
     align-self: stretch;
     padding: 1em 0;
     margin-bottom: 0.1em; 
     margin-right:0.1em;
 }
 #type>li>ul>li:before{
    content:  "\2043";
    position: relative;
    left:     -5px;
    
}
#type{
    display: none;
    text-align: right;
}
#type:target{
    display:block;
}
#status{
    display: none;
    text-align: right;
}
#status:target{
    display:block;
}

.attribute a{
    color: #2196F3;
}
 .add{
     flex:1;
     background-color: #FF4081;
      align-self: flex-start; *чтобы не растягивались при разворачивании списка, в медиазапросах изменить н�� stretch*
      padding: 1em 0;
       margin-bottom: 0.1em; 
}
 .fa-plus-circle{
     color: #fff;
 }
 .find{
     flex:2;
     align-self: flex-start;
     padding: 1em 0;
     margin-bottom: 0.1em; 
     margin-right: 0.1em;
     color: #fff;
     background-color: #2196F3;
 }
  
  */
  
.content-aside{
      flex:6;
      display:flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: flex-start; 
      padding: 5em;
}
main{
    flex: 7;
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items:stretch;
}
.big-block{
    display:flex;
    justify-content: space-between;
}

.item {
    margin: 1em 0;
    width:31%;
    color: #bdbdbd;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    text-transform: uppercase;
    box-sizing: border-box;
    display:flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-between;
    overflow:hidden;
}
.item img{
    width: 100%;
    height: 150px;
    
}

  .img-link {
  display: inline-block;
  position: relative;
  width:100%;
  height: 100%;
}

/* Общие стили для перекрывающих элементов */
.cover-bg,
.cover-title {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Отображаем перекрывающие элементы при наведении на блок с картинкой */
.img-link:hover .cover-bg,
.img-link:hover .cover-title{
  display: block;
}

/* Полупрозрачный перекрывающий голубой фон */
.cover-bg {
  background: #BBDEFB;
  opacity: .5;
}

/* Перекрывающий текст */
.cover-title {
  color: #212121;
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
}
/*.item div img{
    position: relative;
}
.item div p{
    display:none;
    position: absolute;
    top:0.2em; left:0.2em;
    
}
.item img:hover .item p{
    
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    display: inline-block;
    z-index: 999;
}*/

.item>div {
    flex:3;
    background-color: #FFF;
}
.item .item_first {
    flex:1;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #FFF;
    
}

.item_first_element{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    
}
.item_first_element *{
    flex:1;
    align-self: center;
    
}
.info1{
    font-size: 0.7em;
    font-weight: 300;
    flex:1;
    align-self: stretch;
}
.info2{
    color:rgba(64, 64, 64, 0.86);
    font-size:1.1em;
}
.item_second{
    flex:1;
    align-self:stretch;
    margin-top: 0.1em;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.9em 0.7em;
    background-color: #FFF;
    font-size: 0.9em;
}
.item_second div:first-of-type{
    color: #FF4081;
    font-weight: bold;
}
.item_second div:last-of-type a{
    text-decoration: none;
    color: #212121;
}
.item_second div:last-of-type a:visited{
    text-decoration: underline;
}

.choose-price{
    display:flex;
    flex-flow: row wrap;
    margin:0;
    justify-content: flex-start;
   align-items:stretch;
}
.choose-price>div:first-child{
    flex:100%; 
    margin: 1em 0 1.3em 0;
    border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
    padding-bottom: 0.5em;
    letter-spacing: 0.1em;
    font-size: 1.4em;
    font-weight: 100;
    color:#BDBDBD;
}
.all-prices{
    flex:100%;
    display:flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
   
}
.price {
    width:31%;
   
    align-self: center;
   color: #212121;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-sizing: border-box;
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    padding: 1em;
    
}

.price div:nth-of-type(2n+1){
    flex:1;
    
}

.price div:nth-of-type(2n){
    flex: 2;
}

.price div{
    line-height: 3em;
     align-self: center;
    
}
.price div:nth-of-type(1){
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    color:#bdbdbd;
}
.price div:nth-of-type(2){
    font-size: 2em;
    color: #212121;
    
}
.price div:nth-of-type(3){
    font-size: .8em;
    color: #bdbdbd;
}
.price div:nth-of-type(4) a{
    font-size: 1.2em;
    text-decoration: none;
    background-color: #FF4081;
    color: #fff;
    padding: .8em;
    border-radius: 3px;
   
  }
  .price div:nth-of-type(4){
      margin:1.5em 0;
      transition: 0.2s;
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

  .price div:nth-of-type(4):active {
      transition-delay: 0s;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  }
  
.price div:nth-of-type(5){
    font-size: 1em;
    color: #212121;
   
}

/*The end of content flexbox*/

aside{
    flex:2;
    align-self: flex-start;
    margin:2em;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.best{
    flex:1;
    padding-bottom: 0.5em;
    border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
    align-self:stretch;
    letter-spacing: 0.1em;
    font-size: 1.4em;
    font-weight: 100;
    margin-bottom: 1.3em;
    color:#BDBDBD; 
    
}
.agents{
    flex:3;
    align-self:stretch;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items:flex-start;
}
.agent{
    flex:1;
    align-self: stretch;
    background-color: #fff;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: base-line;
}
.photo{
    flex:1;
    align-self:center;
    padding-left: 0;
}
.photo img{
    border-radius: 100%;
    box-shadow: 0 0 0.5px rgba(0,0,0,0.2);
    
}
.connect{
    flex:2;
    align-self:flex-start;
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items:stretch;
    margin-right: 0.8em;
}
.first{
  border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
  padding:1.3em 0 0.8em 0;
 
}

.second{
   border-bottom: 0.05em solid rgba(213, 205, 205, 0.87); 
   padding-bottom:0.8em;
   
  
}
.third{
  padding-bottom:0.3em;
  border: none;
}

.connect * {
   align-self: flex-start;
   padding-bottom: 0.5em;
    
}
.connect div:nth-of-type(2) 
{
    color:#FF4081;
    font-size:0.8em;
}
.connect div:first-of-type 
{
    color:#212121;
    font-size:1.0em;
    font-weight: 500;
     padding-top: 0.5em;
}
.connect div:last-of-type
{
    color:#212121;
    font-size:0.8em;
}


.email{
    flex:2;
    align-self:stretch;
    padding: 0.8em;
    background-color:  #2196F3;
    margin-top: 1em;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.email form{
    flex:1;
    width:100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.email input[type=email]{
    flex:3;
    align-self:stretch;
    color: #FFF;
    border: none;
    border-bottom: 1px solid #FFF;
    
}
::-webkit-input-placeholder {
    color: #fff;
}
:-moz-placeholder{ 
    color: #fff; 
}
::-moz-placeholder {
    color: #fff;
}
:-ms-input-placeholder {  
    color: #fff; 
}
.email input[type=submit]{
    
    align-self: flex-end;
    cursor: pointer;
    background-color: #FF4081;
    border-radius: 3px;
    color: #FFF;
    margin-top: 1em;
    padding: 0.5em;
    
}
.email_block .email_block_small:first-child{
    flex:2;
    align-self: flex-start;
    width: 100%;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 0.5em 0;
    font: 0.8em;
}
.email_block .email_block_small:last-child{
    flex:1;
    align-self: flex-end;
    margin-right: 0.8em;
    color: #fff;
    font-size: 0.8em;
    background:#FF4081;
    margin-top: 0.8em;
    padding: 0.5em;
    text-transform: uppercase;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

footer {
    flex: 1;
    font-weight: 100;
    background-color: #2196F3;
    display:flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    
}
footer>div{
    align-self: stretch;
    padding: 1em 0 1em 0;
    font-size: small;
    margin: 0 5em;
    border-top: 0.05em solid rgba(213, 205, 205, 0.87);
    background-color: #2196F3;
    color: #FFF;
}
footer .footer_menu{
    align-self: baseline;flex-grow:1;
    padding-bottom: 0em;
    color: rgba(255, 255, 255, 0.78);
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:stretch;
    width: 100%;
    
}
.footer_menu_sub{
    align-self:baseline;
    
}
.footer_menu_sub h5{
    color: #FFF;
    text-transform: uppercase;
    margin:.5em 0 ;
     letter-spacing: 0.01em
     
    
}
.footer_menu_sub>h5>ul>li{
    list-style: none;
    text-decoration: none;
    font-size: 0.6em;
    text-align: right;
}

.footer_menu_sub ul li a{
    color: rgba(255, 255, 255, 0.78);
	text-decoration:none;
	font-size: small;
}
.footer_menu_sub ul li a:hover{
    color: #fff;
}
.footer_menu_sub:last-of-type{
  display: flex;
   flex-flow: row wrap; 
   justify-content:space-around; 
   
}
