
@media all and (max-width:648px){
 
  .big-block{
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
       min-width: 100%;
     
   }
   .content .content-aside {
       max-width: 85%!important;
      margin: 0em!important;
       
   }
   .container .content{
       margin-left:0em!important;
   }
   .container .content>#crumbs{
     margin-top: 6.5em!important;
   
    margin-left: 2.5em!important;
   }
   
   
     .content #crumbs{
     margin-top: .3em!important;
   }
    main{
    
     width:100%!important;
    
}
  aside{
    
    width:100%!important;
    
      
  }
  .photo{
    padding: 0 1em!important;
  }
   
}

@media all and (max-width:1017px){
     #menu ul li{
        -webkit-box-flex:1;
            -ms-flex:1 1 25%;
                flex:1 1 25%;
    }
   .content .content-aside{
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
       margin-left:0em!important;
   }
   #crumbs{
     margin-top: 15em!important;
     margin-left: 3.5em!important;
   }
   .item_first>div:nth-of-type(1),
   .item_first>div:nth-of-type(2),
   .item_first>div:nth-of-type(3){
       margin-bottom:.5em;
   }
   main{
       
       min-width: 100%;
       
   }
    aside{
        min-width: 100%;
        margin-left:1em!important;
    }
   .photo img{
    margin: 25%;
    
}
 .agent{
     padding-left: 0!important;
 }  
.item {
    
   -webkit-box-orient: vertical;
    
   -webkit-box-direction: normal;
    
       -ms-flex-direction: column;
    
           flex-direction: column;
   
}
.item_first{
    min-width:100%;
}
.item>figure{
    min-width:100%;
}
  
   
   
}



/*Flexbox - content*/

.content{
   -webkit-box-flex:10;
       -ms-flex:10;
           flex:10;
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-flow: column wrap;
           flex-flow: column wrap;
   -ms-flex-pack: distribute;
       justify-content: space-around;
   -webkit-box-align: stretch;
       -ms-flex-align: stretch;
           align-items: stretch;
    /*padding: 2em;*/
}


  
.content-aside{
      -webkit-box-flex:6;
          -ms-flex:6;
              flex:6;
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; 
      margin: 0 2em;
     
}



/*.search-middle{
    min-width: 100%;
    
    padding: 0px;
    padding-left:2em;
    width: 300px;
    margin:.5em 0;
   
}

.search-input{
      background-color: #FFF;
      color: #212121;
      padding: .6em .4em;
       border-radius: .4em;
}
.search-middle>button[value="SEARCH"]{
       color: #fff;
      background-color: #2196F3;
      text-align: center;
      cursor: pointer;
      padding: .6em .4em;
      border-radius: .4em;
  }
*/
main{
    width:70%;
    
    display:-webkit-box;
    
    display:-ms-flexbox;
    
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align:stretch;
        -ms-flex-align:stretch;
            align-items:stretch;
    margin-bottom: 1em;
}
#crumbs{
     margin: 12em 2em 0 5em;
     font-size: .8em
 }

.rent {
     -webkit-box-flex:1;
         -ms-flex:1;
             flex:1;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    padding:  0em;
    border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
    -ms-flex-item-align:stretch;
        align-self:stretch;
    font-weight: 100;
    margin: 1em;
    color:#BDBDBD; 
    
}


.item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 1em;
    
}
.item img{
    width: 100%;
    height: 100%;
    
}
img:hover{
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    cursor: pointer;
}

.item>figure{
    -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;
    background-color: #FFF;
    -ms-flex-item-align:stretch;
        align-self:stretch;
    margin:0;
}

.item .item_first {
    -webkit-box-flex:3;
        -ms-flex:3;
            flex:3;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-flow:column wrap;
            flex-flow:column wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
   
}
.item_first>div>a{
    text-decoration: none;
    color: #757575;
    
}
.item_first>div:nth-of-type(1){
    font-size: 1.2em;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: .5em 0 0 .5em;
    text-transform: uppercase;
    
}
.item_first>div:nth-of-type(1)>a:hover{
    color: #FF4081;
}

.item_first>div:nth-of-type(2){
  font-size: 0.8em;
  color: #bdbdbd; 
  border-bottom: 0.05em solid #bdbdbd;
  padding: 0 1em 0.5em 1em;
  
}
.item_first>div:nth-of-type(3){
   color: #212121;
   font-size: 0.8em;
   padding: 0 0 0 1em;
   line-height: 2em
}

.item_info{
    -ms-flex-item-align: stretch;
        align-self: stretch;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.8em;
    color: #757575;
    border-top: 0.05em solid #bdbdbd;
    background-color: rgba(213, 205, 205, 0.87);
    padding: 0 1em;
    
}

.item_first>.item_info div:first-child, 
.item_first>.item_info div:nth-of-type(2), 
.item_first>.item_info div:nth-of-type(3){
    -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;
    -ms-flex-item-align: center;
        align-self: center;
    border-right: 0.05em solid #bdbdbd;
    
}
.item_first>.item_info div:first-child{
    margin-left:.5em;
}
.item_first>.item_info div:nth-of-type(2), 
.item_first>.item_info div:nth-of-type(3){
    padding-left: 0.5em;
}
.item_first>.item_info>div:last-of-type{
   -webkit-box-flex:1;
       -ms-flex:1;
           flex:1; 
   -ms-flex-item-align: center; 
       align-self: center;
   padding-left: 0.5em;
}

/*The end of content flexbox*/

aside{
     width: 25%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top:1em;
    margin-bottom:2em!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background-color: #FFF;
}

.best{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    padding-bottom: 0;
    border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
    -ms-flex-item-align:stretch;
        align-self:stretch;
    font-weight: 100;
    margin: 0;
    color:#BDBDBD;
    padding-left: .5em;
    
    
}
.agents{
    -webkit-box-flex:3;
        -ms-flex:3;
            flex:3;
    -ms-flex-item-align:stretch;
        align-self:stretch;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
}
.agent{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    background-color: #fff;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:0;
}
.photo{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -ms-flex-item-align:center;
        align-self:center;
    padding: 0;
    margin:0;
    padding-left: 2em;
    
}
.photo img{
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0.5px rgba(0,0,0,0.2);
            box-shadow: 0 0 0.5px rgba(0,0,0,0.2);
    width:4em;
    height:4em;
}
.connect{
    -webkit-box-flex:3;
        -ms-flex:3;
            flex:3;
    -ms-flex-item-align:start;
        align-self:flex-start;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-flow:column wrap;
            flex-flow:column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:stretch;
        -ms-flex-align:stretch;
            align-items:stretch;
    
    margin-right: 0.8em;
    padding-left:2em;
}
.first{
  border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
  padding:1.3em 0 0.8em 0;
 padding-left:2em;
}

.second{
   border-bottom: 0.05em solid rgba(213, 205, 205, 0.87); 
   padding-bottom:0.8em;
   
  
}
.third{
  padding-bottom:0.3em;
  border: none;
}

.connect * {
   -ms-flex-item-align: start;
       align-self: flex-start;
   padding-bottom: 0.5em;
    
}
.connect div:nth-of-type(2) 
{
    color:#FF4081;
    font-size:0.8em;
}
.connect div:first-of-type 
{
    color:#212121;
    font-size:1.0em;
    font-weight: 500;
     padding-top: 0.5em;
}

.connect div:last-of-type a
{
    color:#212121;
    font-size:0.8em;
    text-decoration: none;
}

.email{
    -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;
    -ms-flex-item-align:stretch;
        align-self:stretch;
    padding: 0.8em;
    background-color:  #2196F3;
    margin-top: 1em;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.email form{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFF;
}
.email input[type=email]{
    -webkit-box-flex:3;
        -ms-flex:3;
            flex:3;
    -ms-flex-item-align:stretch;
        align-self:stretch;
    color: #FFF;
    border: none;
    border-bottom: 1px solid #FFF;
    
}
.email input[type=submit]{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -ms-flex-item-align: end;
        align-self: flex-end;
    cursor: pointer;
    background-color: #FF4081;
    border-radius: 3px;
    color: #FFF;
    margin-top: 1em;
    padding: 0.5em;
}
.email_block .email_block_small:first-child{
    -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 0.5em 0;
    font: 0.8em;
}
.email_block .email_block_small:last-child{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 0.8em;
    color: #fff;
    font-size: 0.8em;
    background:#FF4081;
    margin-top: 0.8em;
    padding: 0.5em;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
}