@media all and (max-width:677px){
  #top{
      visibility: hidden;
  } 
  header{
      height:5em;
      
  }
 .menu-hidden{
    display: block;
    position: fixed;
    list-style:none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #1976D2;
    height: 100%;
    top: 0;
    right: -200px;
    transition: right .2s;
    z-index: 5;
    
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .menu-ticker {
    display: none;
}
.btn-menu {
  color: #fff;
  background-color: #2196F3;
  padding: 5px;
  position: fixed;
  top: 1em;
  right: 1em;
  cursor: pointer;
  transition: right .23s;
  z-index: 8;
  width: 25px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 5px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.line_up {
  margin-top: 0;
}
  .menu-ticker:checked ~ .btn-menu {
  right: 160px;
}
.menu-ticker:checked ~ .menu-hidden {
  right: 0;
}
.menu-ticker:checked ~ .btn-menu span.line_up {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.menu-ticker:checked ~ .btn-menu span.line_middle {
  opacity: 0;
}

.menu-ticker:checked ~ .btn-menu span.line_down {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}

#menu label[for="property"]+ul{
    position: static !important;
    margin-top:1em;
    
}
#logo{
  position: fixed;
  top: 5px;
  left: 5px;
  z-index:2;
   font-size:75%; 
}

#logo>.img{
    
    padding-left: 0!important;
    
}

.search{
    height:5em;
}
.search-ticker-line{
    display: block!important;
    position: fixed;
    right:5em;
    top: 1em;
    width: 25px;
    padding: 5px;
    text-align: center;
    color: #fff;
    cursor:pointer;
}

 form.search-top{
    display: block;
    position: fixed;
    list-style:none;
    padding: 0;
    box-sizing: border-box;
    width: 19.8em;
    margin:.5em 0;
    top: 4.8em;
    right: -40em;
    transition: right .2s;
    z-index: 5;
   
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .search-ticker:checked ~ .search-top {
  right:0;
  
}
.search-input{
      background-color: #FFF;
      color: #212121;
      padding: .6em .4em;
       border-radius: .4em;
       width: 12em;
}
.search-top>button[value="SEARCH"]{
       color: #fff;
      background-color: #2196F3;
      text-align: center;
      cursor: pointer;
      padding: .6em .4em;
      border-radius: .4em;
  }

.search-middle{
    display:none;
}
.search-ticker{
   display:none; 
}
.search{
    display:none!important;
}

.submit{
    right:.5em!important;
}

 
    footer{
        display:none!important;
    }
    .content>.worldmap{
      padding-top: 0!important;
      
  }
}

@media all and (max-width:955px){
     #menu ul li{
        flex:1 1 25%;
    }
    main {
    
   flex-direction: column!important;
   
}
.contact-address{
    
   width:100%!important;
    
}
  .contact-form{
    
    width:100%!important;
      margin-top: 2em;
  }
   .worldmap{
      padding-top: 3em!important;
      
  }
   
}
@media all and (min-width:1200px){
    .header, .content, footer{ 
    width: auto;
    }
}


/*Flexbox - content*/

.content{
   flex:10;
   display:flex;
   flex-flow: column wrap;
   justify-content: space-around;
   align-items: stretch;
   margin:0;
    /*padding: 2em;*/
}
 main{
      flex:1;
      display:flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: stretch; 
      margin: 3em 2em;
      
      
}
/*main{
    flex:1;
    display:flex;
       margin: 0 2em;
      flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-between;
      
}*/
  
.worldmap{
      flex:1;
      margin-top: 8em!important;
}
.contact-address{
    width:45%;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-sizing: border-box;
    display:flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-between;
    padding:1em 2em 1em 2em;
    line-height: 2em;
}
.contact-address>.contact-item{
    color: #757575;
    font-size: 1.2em;
    align-self: stretch;
    text-transform: uppercase;
    padding: 1em 0 .5em 0;
}
.contact-item:hover{
    color: #FF4081;
}
.contact-info{
    color: #212121;
   font-size: 1em;
   
}
/*.contact-info:nth-of-type(2),
.contact-info:nth-of-type(5),
.contact-info:nth-of-type(4),
.contact-info:nth-of-type(6)
{
    
   padding-bottom: 0.5em;
}*/

.contact-info:last-of-type{
    display: flex;
    flex-flow: row wrap;
}
.contact-info:last-of-type div:first-child{
   flex:2%; 
   }
.contact-info:last-of-type div:last-child{
   flex:95%; 
   
}

.contact-info i{
    color:#FF4081;;
}

.contact-form{
    width:45%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-sizing: border-box;
    display:flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: stretch;
    background: #2196F3;
}
.contact-form>div{
    width:100%;
    color:#fff;
    align-self: flex-start;
    padding:2em;
    font-size: 1.2em;
    text-transform: uppercase;
    
}
.contact-form>form{
    
    width:100%;
    color:#fff;
    align-self: flex-start;
    font-size: 1.2em;
    text-transform: uppercase;
    display: flex;
    flex-flow:column wrap;
    align-items: flex-start;
    padding: 0 2em 2em 2em;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
    
    
}



/* Поле сообщения */
.contact-form>form>textarea{
    background: rgba(255, 255, 255, 0.4); 
    width:100%;
    height: 10em;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:1em;
    font-weight: 300;
    color:#fff;
    padding: 1em 0 0 1em;
    margin-bottom:20px;
    overflow:hidden;
    box-sizing: border-box;
}
/* Поля ввода */
.contact-form>form>input:not(.btn) {
    width: 100%;
    height: 3em;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 3px;
    background-clip: padding-box; 
    display:block;
    font-size:1em;
    font-weight: 300;    
    color:#fff;
    box-sizing: border-box;
    margin-bottom:20px;
}
.contact-form>form>input[type=submit] {
    cursor:pointer;
    
}
.contact-form>form>input.name {
    background: rgba(255, 255, 255, 0.4); 
    padding-left:1em;
}
.contact-form>form>input.mail {
    background: rgba(255, 255, 255, 0.4);
    padding-left:1em;
}
.contact-form>form>input.message {
    background: rgba(255, 255, 255, 0.4);
    padding-left:1em;
}
::-webkit-input-placeholder {
    color: #fff;
}
:-moz-placeholder{ 
    color: #fff; 
}
::-moz-placeholder {
    color: #fff;
}
:-ms-input-placeholder {  
    color: #fff; 
}
input:focus, textarea:focus { 
    background-color: #FFF !important;
    color: #757575!important;
    box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden; 
}
input.btn {
    width:8em;
    margin-right: 0;
    height: 3em;
    align-self: flex-end;
    cursor: pointer;
    background-color: #FF4081;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,.4);
    color: #FFF;
    margin: 1em 0;
    padding: 0.5em;
    box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    font-size:1em;
    font-weight: 300;    
    box-sizing: border-box;
   
}
.btn:hover {
    background: #1976D2;
    }
.btn:active {
    margin-top:1px;
    border: 1px solid #333333;
    background-color: #FF4081;
    box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    outline: none;
}

