@media all and (max-width:650px){
  
    .content>.worldmap{
      padding-top: 0!important;
      
  }
   .content main {
    
   -webkit-box-orient: vertical!important;
    
   -webkit-box-direction: normal!important;
    
       -ms-flex-direction: column!important;
    
           flex-direction: column!important;
    max-width:85%!important;
  
}

   .container .content{
    
    margin-top:5em !important;
}
}

@media all and (max-width:1017px){
     #menu ul li{
        -webkit-box-flex:1;
            -ms-flex:1 1 25%;
                flex:1 1 25%;
    }
    .content main {
    
   -webkit-box-orient: vertical!important;
    
   -webkit-box-direction: normal!important;
    
       -ms-flex-direction: column!important;
    
           flex-direction: column!important;
   
   
}

.contact-address{
    
   width:100%!important;
    
}
  .contact-form{
    
   width:100%!important;
      margin-top: 2em;
  }
   .content{
    
    margin-top:3.5em !important;
}
  
   
}



/*Flexbox - content*/

.content{
   -webkit-box-flex:10;
       -ms-flex:10;
           flex:10;
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-flow: column wrap;
           flex-flow: column wrap;
   -ms-flex-pack: distribute;
       justify-content: space-around;
   -webkit-box-align: stretch;
       -ms-flex-align: stretch;
           align-items: stretch;
   margin:0;
   margin-top:1em;
    
}
 main{
      -webkit-box-flex:1;
          -ms-flex:1;
              flex:1;
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; 
      margin: 3em 2em;
      
      
}
 #crumbs{
     margin: 10.5em 2em 0 2em;
}
/*main{
    flex:1;
    display:flex;
       margin: 0 2em;
      flex-flow: column wrap;
    align-items: stretch;
    justify-content: space-between;
      
}*/
  
.worldmap{
      -webkit-box-flex:1;
          -ms-flex:1;
              flex:1;
      margin-top: 1em!important;
}
.contact-address{
    width:45%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding:1em 2em 1em 2em;
    line-height: 2em;
}
.contact-address>.contact-item{
    color: #757575;
    font-size: 1.2em;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    text-transform: uppercase;
    padding: 1em 0 .5em 0;
}
.contact-item:hover{
    color: #FF4081;
}
.contact-info{
    color: #212121;
   font-size: 1em;
   
}
.contact-info a{
    text-decoration: none;
     color: #212121;
   font-size: 1em;
}
/*.contact-info:nth-of-type(2),
.contact-info:nth-of-type(5),
.contact-info:nth-of-type(4),
.contact-info:nth-of-type(6)
{
    
   padding-bottom: 0.5em;
}*/

.contact-info:last-of-type{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}
.contact-info:last-of-type div:first-child{
   -webkit-box-flex:2%;
       -ms-flex:2%;
           flex:2%; 
   }
.contact-info:last-of-type div:last-child{
   -webkit-box-flex:95%;
       -ms-flex:95%;
           flex:95%; 
   
}

.contact-info i{
    color:#FF4081;;
}

.contact-form{
    width:45%;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    background: #2196F3;
}
.contact-form>div{
    width:100%;
    color:#fff;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding:2em;
    font-size: 1.2em;
    text-transform: uppercase;
    
}
.contact-form>form{
    
    width:100%;
    color:#fff;
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 1.2em;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-flow:column wrap;
            flex-flow:column wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 2em 2em 2em;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
            box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    overflow: hidden; 
    
    
}



/* Поле сообщения */
.contact-form>form>textarea{
    background: rgba(255, 255, 255, 0.4); 
    width:100%;
    height: 10em;
    border: 1px solid rgba(255,255,255,.6);
    border-radius: 4px;
    background-clip: padding-box; 
    display:block;
    font-family: 'Open Sans', sans-serif;
    font-size:1em;
    font-weight: 300;
    color:#fff;
    padding: 1em 0 0 1em;
    margin-bottom:20px;
    overflow:hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/* Поля ввода */
.contact-form>form>input:not(.btn) {
    width: 100%;
    height: 3em;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 3px;
    background-clip: padding-box; 
    display:block;
    font-size:1em;
    font-weight: 300;    
    color:#fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom:20px;
}
.contact-form>form>input[type=submit] {
    cursor:pointer;
    
}
.contact-form>form>input.name {
    background: rgba(255, 255, 255, 0.4); 
    padding-left:1em;
}
.contact-form>form>input.mail {
    background: rgba(255, 255, 255, 0.4);
    padding-left:1em;
}
.contact-form>form>input.message {
    background: rgba(255, 255, 255, 0.4);
    padding-left:1em;
}
::-webkit-input-placeholder {
    color: #fff;
}
:-moz-placeholder{ 
    color: #fff; 
}
::-moz-placeholder {
    color: #fff;
}
:-ms-input-placeholder {  
    color: #fff; 
}
input:focus, textarea:focus { 
    background-color: #FFF !important;
    color: #757575!important;
    -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
            box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
    overflow: hidden; 
}
.contact-form input.btn {
    width:8em;
    margin-right: 0;
    height: 3em;
    -ms-flex-item-align: end;
        align-self: flex-end;
    cursor: pointer;
    background-color: #FF4081;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,.4);
    color: #FFF;
    margin: 1em 0;
    padding: 0.5em;
    -webkit-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
            box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    text-shadow: #333333 0 1px 0;
    font-size:1em;
    font-weight: 300;    
    -webkit-box-sizing: border-box;    
            box-sizing: border-box;
   
}
.btn:hover {
    background: #1976D2;
    }
.btn:active {
    margin-top:1px;
    border: 1px solid #333333;
    background-color: #FF4081;
    -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
            box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
    outline: none;
}
