@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700&subset=cyrillic,cyrillic-ext');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: rgba(239, 236, 236, 0.87);
}

.dark-primary-color {
    background: #1976D2;
}

.default-primary-color {
    background: #2196F3;
}

.light-primary-color {
    background: #BBDEFB;
}

.text-primary-color {
    color: #FFFFFF;
}

.accent-color {
    background: #FF4081;
}

.primary-text-color {
    color: #212121;
}

.secondary-text-color {
    color: #757575;
}

.divider-color {
    border-color: #BDBDBD;
}

.text-light-color {
    color: rgba(255, 255, 255, 0.78);
}

@media all and (max-width:650px){
  #top{
      visibility: hidden;
  } 
  header{
      height:5em;
  }
 .menu-hidden{
    display: block;
    position: fixed;
    list-style:none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: 200px;
    background-color: #1976D2;
    height: 100%;
    top: 0;
    right: -200px;
    transition: right .2s;
    z-index: 5;
    
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .menu-ticker {
    display: none;
}
.btn-menu {
  color: #fff;
  background-color: #2196F3;
  padding: 5px;
  position: fixed;
  top: 1em;
  right: 1em;
  cursor: pointer;
  transition: right .23s;
  z-index: 8;
  width: 25px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.btn-menu span {
  display: block;
  height: 5px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}
.btn-menu span.line_up {
  margin-top: 0;
}
  .menu-ticker:checked ~ .btn-menu {
  right: 160px;
}
.menu-ticker:checked ~ .menu-hidden {
  right: 0;
}
.menu-ticker:checked ~ .btn-menu span.line_up {
  -webkit-transform: rotate(45deg);
  top: 10px;
}
.menu-ticker:checked ~ .btn-menu span.line_middle {
  opacity: 0;
}

.menu-ticker:checked ~ .btn-menu span.line_down {
  -webkit-transform: rotate(-45deg);
  top: -10px;
}

#menu label[for="property"]+ul{
    position: static !important;
    margin-top:1em;
    
}
#logo{
  position: fixed;
  top: 5px;
  left: 5px;
  z-index:2;
   font-size:75%; 
}

#logo>.img{
    
    padding-left: 0!important;
    
}

.search{
    height:5em;
}
.search-ticker-line{
    display: block!important;
    position: fixed;
    right:5em;
    top: 1em;
    width: 25px;
    padding: 5px;
    text-align: center;
    color: #fff;
    cursor:pointer;
}

 form.search-top{
    display: block;
    position: fixed;
    list-style:none;
    padding: 0px;
    box-sizing: border-box;
    width: 300px;
    margin:.5em 0;
    top: 7em;
    right: -40em;
    transition: right .2s;
    z-index: 5;
   
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .search-ticker:checked ~ .search-top {
  right:0;
  
}



.search-input{
      background-color: #FFF;
      color: #212121;
      padding: .4em .4em;
       border-radius: .4em;
}
.search-top>button[value="SEARCH"]{
       color: #fff;
      background-color: #2196F3;
      text-align: center;
      cursor: pointer;
      padding: .4em .4em;
      border-radius: .4em;
  }


.search-ticker{
   display:none; 
}
.search{
    display:none!important;
}

.submit{
    right:.5em!important;
}
.item {
    flex-direction:column;
}
.slider{
    min-width: 100%;
    flex:1;
    box-sizing: border-box;
}
.arrows {
    width: 92% !important;
}

 /* .logoMenu{
      display:flex;
      flex-direction: column;
      width:100%;
  }*/
  .big-block{
       flex-direction: column;
       min-width: 100%;
     
   }
   .content-aside {
       margin-top: 8em!important;
       padding:1em!important;
       
   }
    .all-prices{
        flex-direction: column;
        
    }
    .price{
        min-width: 100%;
    }
    footer{
        display:none!important;
    }
}

@media all and (max-width:900px){
     #menu ul li{
        flex:1 1 25%;
    }
    .content-aside{
       flex-direction: column;
       
   }
   .arrows {
    width: 92% !important;
}
   main{
       min-width: 50%;
   }
    aside{
        min-width: 90%;
    }
   
    .photo img{
    margin: 25%;
}


  
   
   
}
@media all and (min-width:1200px){
    .header, .content, footer{ 
    width: auto;
    }
}

.container{
    display:flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin:0; padding:0;
    overflow: hidden;
    min-height: 100vh;
    align-items:stretch;
}

header {
    flex: 2;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: #2196F3;
   position: fixed;
    z-index: 10;
    width:100%;
    top: 0;
}

.logoMenu{
    flex: 4;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: baseline;
    min-height: 5vw;
    
    
}
#logo{
    flex: 1;
    align-self: center;
    display: flex;
    align-items:baseline;
    justify-content: flex-end;
}
#logo>.img{
    flex:1;
    padding-left: 5em;
    margin:0;
    
}
#logo>.logoname{
    flex:5;
    margin:0; padding:0;
    
}


.submit {
     
    align-self: flex-end;
    border-radius: 100%;
    /*padding: 0.2em 0.2em;*/
   width: 3em;
   height:3em;
    position:relative;
    bottom: -2em;
    right: 4em;
    background: #FF4081;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    transform: translateZ(0); transition: all 0.5s ease;
}

.submit:hover {box-shadow: 0 0 10px rgba(0,0,0,0.4); }
.submit:active { transform: scale(1.1,1.1); }
.submit:focus { outline: 0; border:none; color: rgba(0, 0, 0, 0); }


.fa-stack {
    position: absolute;
    right: -.1em;
    bottom:-.1em;
    
}
    
.search-ticker, .search-ticker-line, .search-top{
    display: none;
}

#menu{
  flex:2;
  align-self: center;
  
}
#menu>li{
    position: relative;
    width: 100%;
    
}
#menu input[type=checkbox]{
        position: absolute;
}

#menu label[for="property"], #menu a{
    position: relative;
    cursor:pointer;
    padding: 1em;
}
#menu label[for="property"]+ul{
    position: absolute;
    background-color: #FFF;
    display:none;
    padding: 0 !important;
   
    transition: all .25s ease .1s;
    color:#212121;
}
    
  /*  transition: all 3s ease;
    transform: scale(0);
    transform-origin: 0 0;
    
}*/

#menu input[type=checkbox]:checked+label[for="property"]+ul,
#menu input[type=checkbox]:checked + label:nth-of-type(n) + ul{  /*реализует механизм выпадения*/
    display:block;
    z-index:3;
    
}
 #menu label[for="property"]:after {
                content: " ";
                position: absolute;
                border: 5px solid;
                border-left-color: transparent;
                border-right-color: transparent;
                border-bottom-color: transparent;
                border-top-color: #fff;
                bottom: 0.9em;
                right: 0;
                transition: 2s;
                }
             #menu input[type=checkbox]:checked + label[for="property"]:after{
                content: " ";
                position: absolute;
                border: 5px solid;
                border-top-color: transparent;
                border-left-color: transparent;
                border-right-color: transparent;
                border-bottom-color: #fff;
                bottom: 1.2em;
                right: 0;
                
                
            }
            
            
#menu>ul{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  margin:0 auto;
  padding-right: 2em;
  padding-top: 2em;
  
}
 

#menu ul li{
        list-style:none;
    	font-size: .8em;
    	font-weight: 300;
		padding: 1em 2em;
		align-self: center;
		
} 

#menu>ul>li>a{
    /*color: #FFF;
    border: 1px solid #0F0;
    
    background-color: #0F0;
    padding: 0.5vw 2vw;
    margin: 0.5vw 1vw;
    box-shadow: 0 7px 8px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    box-shadow: 0 0 3px 3px darkgreen inset;
    transition: .2s linear;*/
	color: rgba(255, 255, 255, 0.78);
	text-decoration:none;
	text-transform:uppercase;
	
	
}
#menu ul li:hover{
    color: #FFF;
    /*transition: transform .5s, background-color 1s ease-in .5s; */
    
    border-bottom: .1em solid #FF4081;
}
#menu ul li a:hover, #menu label[for="property"]:hover{
    color:#FFF;
}

  
    #menu ul li ul li a{
            display:block;
            text-decoration: none;
            text-transform:uppercase;
            color: #212121;
           
        }
        #menu ul li ul li:first-child a {
            border-top:0px;
            
        }
        #menu ul li ul li a:hover{
            color:#212121;
        }
        #menu ul li ul li a {
            border-top:0px;
            width:6em;
            padding:1em 0;
            
            
        }

#menu ul .current, label[for="property"]{
    color:#fff;
    font-weight: 300;
}
input#property{
    display:none;
}
input#hmt{
    display:none;
}

#top {
    align-self: flex-end;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100vw;
    color: rgba(255, 255, 255, 0.78);
    background-color: #1976D2;
    padding-right: 1em;
    
}
#top * {
    padding: 0.3em 0.3em;
    font-size: small;
}
#top a:last-of-type{
   padding-right: 1em;
}

.map{
    align-self: flex-end;
    padding: 0.5em 2em;
    font-style: italic;
    color: #000;
    font-weight: bold
}

ul li{
    list-style: none;
    
}
.logoname a{
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Roboto', cursive;
}
.fa-star, .fa-user-o, .fa-sign-in, .fa-facebook, .fa-twitter, .fa-linkedin, .fa-google-plus, .fa-skype, .fa-youtube, .fa-bars {
   color: rgba(255, 255, 255, 0.78);
}
.phone .fa-phone{
  color: rgba(255, 255, 255, 0.78);  
}
.phone{
    display:inline-block;
}
.profile a, .favorities a, .cabinet a{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.74);
     
}
.map a {
    text-decoration: none;
}
.submit a{
   text-decoration: none;
   color: #FFF;
}

/*Flexbox - content*/

.content {
    flex: 10;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: stretch;
    /*padding: 2em;*/
    
}

.content-aside {
    flex: 6;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5em;
    margin-top: 8em!important;
    
}

main {
    flex: 7;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: stretch;
   
}


.propertyDetail, .description, .position, .facilities, .plan {
    flex:1;
    padding-bottom: 0.6em;
    border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
    align-self: stretch;
    letter-spacing: 0.1em;
    font-size: 1.4em;
    font-weight: 100 !important;
    margin: 0.6em 0.7em 0.8em 0.7em;
    color: #BDBDBD;
}

.item {
    flex:1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: .6em 1em 1em 1em;
    padding: 0;
   
}
.position+div{
   background-color: #fff; 
   padding: .5em;
}


.description-item, .facilities+div, .plan+figure{
    flex: 1;
    color:#212121;
    box-sizing: border-box;
    display:flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: flex-start;
    margin: .5em 1em 1em 1em;
    padding: 0 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-size: .9em;
    line-height: 2em;
    padding: .5em;
    
}

.item-plan{
    position:relative;
    width: 72vw;
   
   
}

.plan-big {
        margin:0;
            }
            .min-block{
                position:  absolute;
                background: transparent;
                z-index:5;
                cursor:pointer;
                border: 5px solid #FF4081;
                box-sizing: border-box;
                opacity:0;
                transition: opacity 1s linear;
            }
            .small{
               position:  absolute;
                z-index:4;
                cursor:pointer; 
                width: 6vw;
                height:4.5vw;
                display:none;
            }
            .kitchen:hover~.k{
             top:4vw;
            left: 37vw;  
            display:block;
            }
             .livingroom:hover~.l{
             top:16vw;
            left: 11.5vw;  
            display:block;
            }
             .bedroom1:hover~.b1{
             top:18vw;
            left: 34.5vw; 
            display:block;
            }
              .bedroom2:hover~.b2{
             top:17.8vw;
            left: 47.5vw;
            display:block;
            }
             .garage:hover~.g{
             top:13.5vw;
            left: 62.5vw;  
            display:block;
            }
              .storage:hover~.stor{
             top:22.5vw;
            left: 23.3vw;   
            display:block;
            }
              .studio:hover~.stud{
             top:31vw;
            left: 25.9vw;  
            display:block;
            }
             .lobby:hover~.lob{
             top:34vw;
            left: 8.5vw;   
            width: 4.5vw;
            height: 3.5;
            display:block;
            }
            
            .kitchen:hover, 
            .bedroom1:hover,
            .bedroom2:hover,
            .livingroom:hover,
            .storage:hover, 
            .garage:hover,
            .lobby:hover,
            .studio:hover{
                opacity:1;
            }
            
            .kitchen{
                top: 3vw;
                left:22vw;
                width: 22vw;
                height:7vw;
            }
            
            .bedroom1{
                top: 14vw;
                left:30.8vw;
                width: 13.8vw;
                height:13.6vw;
               
            }
            .bedroom2{
                top: 14vw;
                left:44.5vw;
                width: 12.7vw;
                height:13.5vw;
               
            }
             .livingroom {
                top: 3vw;
                left:8.1vw;
                width: 13.9vw;
                height:24.6vw;
                }
                .storage {
                top: 14.3vw;
                left:21.8vw;
                width: 9.2vw;
                height:13.2vw;
                }
                 .garage {
                top: 3vw;
                left:57vw;
                width: 13vw;
                height:24.5vw;
                }
                 .lobby {
                top: 27.4vw;
                left:8vw;
                width: 12.1vw;
                height:12vw;
                }
                 .studio {
                top: 27.4vw;
                left:20vw;
                width: 12.3vw;
                height:12.1vw;
                
                }
                
                
                /* Cтили слоя затемнения и модального окна  */
.overlay {
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1;
visibility: hidden;
/* фон затемнения */
background-color: rgba(0, 0, 0, 0.7);
opacity: 0;
position: fixed; /* фиксированное поцизионирование */
cursor: default; 
-webkit-transition: opacity .5s;
-moz-transition: opacity .5s;
-ms-transition: opacity .5s;
-o-transition: opacity .5s;
transition: opacity .5s;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.modal>img {

top: 10vw;
right: 0;
bottom: 0;
left: 0;
display:block;
margin: auto;
min-width: 320px;
max-width: 100%;
width: 100%;
max-height: 80vh;
}
.modal>.read{
    position:absolute;
    z-index:50;
    left:-3vw;
    top:0;
    width: 25vw;
    max-height:80vh;
    border-radius: 3px;
    padding:10px;
    background: #fff;
    font-size: 1.2em;
    text-align: left;
   
}
/* Cтили модального окна*/
.modal {
top: 0;
right: 0;
left: 0;
font-size: 14px;
z-index: 30;
display: block;
visibility: hidden;
margin: 0 auto;
width: 90%;
min-width: 320px;
max-width: 70vw;
/* фиксированное позиционирование, окно стабильно при прокрутке */
position: fixed;
padding: 15px;
border: 1px solid #383838;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
border-radius: 4px;
background-color: #FFFFFF;
/* внешняя тень блока */
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
/* полная прозрачность окна, появление при клике */
opacity: 0;
/* эффект перехода (появление) */
-webkit-transition: all ease .5s;
-moz-transition: all ease .5s;
-ms-transition: all ease .5s;
-o-transition: all ease .5s;
transition: all ease .5s;
}
/* активируем появление окна и затемнение фона */
.overlay:target+.modal {
top: 5%; /* положение окна от верха страницы при появлении */
visibility: visible;
opacity: 1; /* убираем прозрачность */
}
/* кнопка закрытия */
.close {
position: absolute;
top: -10px;
right: -10px;padding: 0;
width: 20px;
height: 20px;
border: 2px solid #ccc;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
-ms-border-radius: 15px;
-o-border-radius: 15px;
border-radius: 15px;
background-color: rgba(61, 61, 61, 0.8);
-webkit-box-shadow: 0px 0px 10px #000;
-moz-box-shadow: 0px 0px 10px #000;
box-shadow: 0px 0px 10px #000;
text-align: center;
text-decoration: none;
font-weight: bold;
line-height: 20px;
/*эффект перехода при наведении */
-webkit-transition: all ease .8s;
-moz-transition: all ease .8s;
-ms-transition: all ease .8s;
-o-transition: all ease .8s;
transition: all ease .8s;
}
.close:before {
color: rgba(255, 255, 255, 0.9);
content: "X";
text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
font-size: 12px;
}
.close:hover {
background-color: #FF4081;
/* крутим кнопку при наведении */
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
-o-transform: rotate(360deg);
transform: rotate(360deg);
}
      






.slider {
    flex:5;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: .5em;
    background-color: #fff;
    width:100%;
    height:100%;
}

.slides {
   padding:0;
}

.slides .block {
    width: 500%;
    transition: all .5s ease-in-out;
}

.letter {
    float: left;
    width: 20%;
}

.letter img {
    width: 100%;
    height:21em;
}

.letter:after {
    clear: both;
    content: "";
    height: 0;
    display: block;
}

.overflow {
    overflow: hidden;
}

.slider input {
    display: none;
}

.arrows {
    position: absolute;
    left: .8em;
    top: 10em;
    width: 95%;
    height: 1em;
}

.arrows label {
    opacity: 0.8;
    display: none;
    cursor: pointer;
}

.arrows label:hover {
    opacity: 1;
}

#slide1:checked~.arrows label:nth-child(2),
#slide2:checked~.arrows label:nth-child(3),
#slide3:checked~.arrows label:nth-child(4),
#slide4:checked~.arrows label:nth-child(5),
#slide5:checked~.arrows label:nth-child(1) {
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-left: 1em solid #333;
    border-bottom: 1em solid transparent;
    display: block;
    float: right;
}

#slide1:checked~.arrows label:nth-child(5),
#slide2:checked~.arrows label:nth-child(1),
#slide3:checked~.arrows label:nth-child(2),
#slide4:checked~.arrows label:nth-child(3),
#slide5:checked~.arrows label:nth-child(4) {
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-right: 1em solid #333;
    border-bottom: 1em solid transparent;
    display: block;
    float: left;
}

#slide1:checked~.slides .block {
    margin-left: 0;
}

#slide2:checked~.slides .block {
    margin-left: -100%;
}

#slide3:checked~.slides .block {
    margin-left: -200%;
}

#slide4:checked~.slides .block {
    margin-left: -300%;
}

#slide5:checked~.slides .block {
    margin-left: -400%;
}

.pins {
    text-align: center;
    margin-top: -1.5em;
}

.pins label {
    width: .5em;
    height: .5em;
    display: inline-block;
    background: #aaa;
    border-radius: 50%;
    box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.6), 0px 1px 1px 0px white;
    cursor: pointer;
    margin: .1em;
}

.pins label:hover {
    background-color: #777;
}

#slide1:checked~.pins label:nth-child(1),
#slide2:checked~.pins label:nth-child(2),
#slide3:checked~.pins label:nth-child(3),
#slide4:checked~.pins label:nth-child(4),
#slide5:checked~.pins label:nth-child(5) {
    background-color: #777;
}


.detail {
    flex: 3;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    justify-content: flex-start;
    padding:.5em 1em .5em 1em;
}
.overview{
    font-size:1.2em;
    padding: .5em 0 0.5em 0em;
    color:#757575;
    text-transform: uppercase;
    border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
}
.overview:hover{
    color: #FF4081;
}
.overview+.detail-block{
    padding-top: .7em;
}
 .detail-block{
     flex:1;
     align-self: stretch;
     display:flex;
     justify-content: space-between;
     align-items: center;
     color: #212121;
     font-size: .9em;
     padding: .2em;
 }
 .detail-block div:nth-of-type(2){
     font-weight: 600;
 }
.description-item, .facilities-detail{
   color: #212121;
   font-size: .9em; 
   
} 
.description-item{
    text-align: justify;
}
.facilities-detail{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.facilities-detail ul{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    
}
.facilities-detail ul li{
    width: 8em;
    align-self: stretch;
    position:relative;
    margin: .9em;
}
.facilities-detail ul li:before{
   content:"\2714";
   display:block;
   position: absolute;
   left: -1em;
   top: 0;
   color: #FF4081;
   
}
.facilities-detail ul li:nth-of-type(1):before, 
.facilities-detail ul li:nth-of-type(9):before, 
.facilities-detail ul li:nth-of-type(11):before,
.facilities-detail ul li:nth-of-type(5):before,
.facilities-detail ul li:nth-of-type(14):before{
   content:"\2717";
   display:block;
   position: absolute;
   left: -1em;
   top: 0;
   color: #BDBDBD; 
}

/*The end of content flexbox*/

aside{
    flex:2;
    align-self: flex-start;
    margin-left: 1em;
    margin-right: 1em;
    margin-top:.2em;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.best{
    flex:1;
    padding: 0.5em 0 0.5em 0.8em;
    align-self:stretch;
    letter-spacing: 0.1em;
    font-size: 1.4em;
    font-weight: 100;
    margin-bottom:0.05em;
    color:#BDBDBD;
    background-color: #FFF;
    
}
.agents{
    flex:3;
    align-self:stretch;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items:flex-start;
}
.agent{
    flex:1;
    align-self: stretch;
    background-color: #fff;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.photo{
    flex:1;
    align-self:center;
    padding-left: 0.8em;
}
.photo img{
    border-radius: 25px;
    box-shadow: 0 0 0.5px rgba(0,0,0,0.2);
}
.connect{
    flex:2;
    align-self:flex-start;
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items:stretch;
    margin-right: 0.8em;
}
.first{
  border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
  padding:1.3em 0 0.8em 0;
 
}

.second{
   border-bottom: 0.05em solid rgba(213, 205, 205, 0.87); 
   padding-bottom:0.8em;
   
  
}
.third{
  padding-bottom:0.3em;
  border: none;
}

.connect * {
   align-self: flex-start;
   padding-bottom: 0.5em;
    
}
.connect div:nth-of-type(2) 
{
    color:#FF4081;
    font-size:0.8em;
}
.connect div:first-of-type 
{
    color:#212121;
    font-size:1.0em;
    font-weight: 500;
     padding-top: 0.5em;
}
.connect div:last-of-type
{
    color:#212121;
    font-size:0.8em;
}


.email{
    flex:2;
    align-self:stretch;
    padding: 0.8em;
    background-color:  #2196F3;
    margin-top: 1em;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.email form{
    flex:1;
    width:100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.email input[type=email]{
    flex:3;
    align-self:stretch;
    color: #FFF;
    border: none;
    border-bottom: 1px solid #FFF;
    
}
.email input[type=submit]{
    flex:1;
    align-self: flex-end;
    cursor: pointer;
    background-color: #FF4081;
    border-radius: 3px;
    color: #FFF;
    margin-top: 1em;
    padding: 0.5em;
}
.email_block .email_block_small:first-child{
    flex:2;
    align-self: flex-start;
    width: 100%;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 0.5em 0;
    font: 0.8em;
}
.email_block .email_block_small:last-child{
    flex:1;
    align-self: flex-end;
    margin-right: 0.8em;
    color: #fff;
    font-size: 0.8em;
    background:#FF4081;
    margin-top: 0.8em;
    padding: 0.5em;
    text-transform: uppercase;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


footer {
    flex: 1;
    font-weight: 100;
    background-color: #2196F3;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

footer>div {
    align-self: stretch;
    padding: 2em 0 1em 0;
    font-size: small;
    margin: 0 5em;
    border-top: 0.05em solid rgba(213, 205, 205, 0.87);
    background-color: #2196F3;
    color: #FFF;
}

footer .footer_menu {
    align-self: baseline;
    flex-grow: 1;
    padding-bottom: 1em;
    color: rgba(255, 255, 255, 0.78);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.footer_menu_sub {
    align-self: baseline;
    padding: 0 2em;
    width: 10em;
}

.footer_menu_sub h5 {
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.01em
}

nav div.footer_menu_sub:last-of-type {
    text-align: center;
    letter-spacing: 0.2em;
    }

.footer_menu_sub>h5>ul>li {
    list-style: none;
    text-decoration: none;
    font-size: 0.6em;
    text-align: right;
    
}


.footer_menu_sub ul li a {
    color: rgba(255, 255, 255, 0.78);
    text-decoration: none;
    font-size: small;
    
}

.footer_menu_sub ul li a:hover {
    color: #fff;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-google-plus:hover,
.fa-skype:hover,
.fa-youtube:hover {
    color: #fff
}
