
@media all and (max-width:646px){
  
 
   
   .item-detail{
       -webkit-box-orient: vertical!important;
       -webkit-box-direction: normal!important;
           -ms-flex-direction: column!important;
               flex-direction: column!important;
   }
   
   main{
    
     min-width:100%!important;
   
}
  .content-aside aside{
    
   min-width:100%!important;
    
      margin: 2em 0em!important; 
     
  }
  .content .content-aside{
      margin-top:0!important;
  }
 .content #crumbs{
   margin-top:7em!important;
    padding-left:.5em!important;
}


  

}

@media all and (max-width:1017px){
     #menu ul li{
        -webkit-box-flex:1;
            -ms-flex:1 1 25%;
                flex:1 1 25%;
    }
  .content .content-aside{
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column;
       margin-top: 0em!important;
      padding-top:0!important;
      
  }
   .arrows {
    width: 92% !important;
}
#crumbs{
   margin-top:15em!important;
    
}


    .photo img{
    margin: 25%;
}
main{
       
    min-width: 100%!important;
      
   }
    aside{
    min-width: 100%!important;
        
    }


}
/*Flexbox - content*/

.content {
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    /*padding: 2em;*/
   
    
}

.content-aside {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-sizing:border-box;
            box-sizing:border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:0em 5em 5em 5em;
    margin-top: 0em!important;
    
}
#crumbs{
   margin: 12em 2em 0 2em;
     font-size: .8em;
    padding-left:5.5em;
   
}
 

main {
    width:70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 0em;
    margin-top:0em;
}


.propertyDetail, .description, .position, .facilities, .plan {
    
    -webkit-box-sizing:border-box;
    
            box-sizing:border-box;
    padding:  0em;
    border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
    -ms-flex-item-align:stretch;
        align-self:stretch;
    font-weight: 100;
    margin: 1em 0em 1em 1em;
    color:#BDBDBD;
}

.item-detail, .item-position {
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 1em 0 1em 1em;
    padding:0;
    
   
}
.position+div{
   background-color: #fff; 
   padding: 5px;
}


.description-item, .facilities+div, .plan+figure{
   
    color:#212121;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1em 0em 1em 1em;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: .9em;
    line-height: 2em;
    padding: .5em;
    
}
.item-plan figure{
    width:72vw;
    height:100%;
    margin:0;
}



.item-plan{
    position:relative;
   -webkit-box-align:stretch;
       -ms-flex-align:stretch;
           align-items:stretch;
    width:72vw;
    padding:0em;
     margin: 1em 1em 1em 1em;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}


            .min-block{
                position:  absolute;
                background: transparent;
                z-index:5;
                cursor:pointer;
                border: 5px solid #FF4081;
                -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                opacity:0;
                -webkit-transition: opacity 2s .5s ease;
                transition: opacity 2s .5s ease;
            }
            .small{
               position:  absolute;
                z-index:4;
                cursor:pointer; 
                width: 6vw;
                height:4.5vw;
                display:none;
                -webkit-transition: all 2s .6s ease;
                transition: all 2s .6s ease;
               
            }
            
            .kitchen:hover~.k{
             top:4vw;
            left: 37vw;  
            display:block;
            
            }
             .livingroom:hover~.l{
             top:16vw;
            left: 11.5vw;  
            display:block;
            }
             .bedroom1:hover~.b1{
             top:18vw;
            left: 34.5vw; 
            display:block;
            }
              .bedroom2:hover~.b2{
             top:17.8vw;
            left: 47.5vw;
            display:block;
            }
             .garage:hover~.g{
             top:13.5vw;
            left: 62.5vw;  
            display:block;
            }
              .storage:hover~.stor{
             top:22.5vw;
            left: 23.3vw;   
            display:block;
            }
              .studio:hover~.stud{
             top:31vw;
            left: 25.9vw;  
            display:block;
            }
             .lobby:hover~.lob{
             top:34vw;
            left: 8.5vw;   
            width: 4.5vw;
            height: 3.5;
            display:block;
            }
            
            .kitchen:hover, 
            .bedroom1:hover,
            .bedroom2:hover,
            .livingroom:hover,
            .storage:hover, 
            .garage:hover,
            .lobby:hover,
            .studio:hover{
                opacity:1;
            }
            
            .kitchen{
                top: 3vw;
                left:22vw;
                width: 22vw;
                height:7vw;
                -webkit-transition: opacity 2s 1s ease;
                transition: opacity 2s 1s ease;
            }
            
            .bedroom1{
                top: 14vw;
                left:30.8vw;
                width: 13.8vw;
                height:13.6vw;
               
            }
            .bedroom2{
                top: 14vw;
                left:44.5vw;
                width: 12.7vw;
                height:13.5vw;
               
            }
             .livingroom {
                top: 3vw;
                left:8.1vw;
                width: 13.9vw;
                height:24.6vw;
                }
                .storage {
                top: 14.3vw;
                left:21.8vw;
                width: 9.2vw;
                height:13.2vw;
                }
                 .garage {
                top: 3vw;
                left:57vw;
                width: 13vw;
                height:24.5vw;
                }
                 .lobby {
                top: 27.4vw;
                left:8vw;
                width: 12.1vw;
                height:12vw;
                }
                 .studio {
                top: 27.4vw;
                left:20vw;
                width: 12.3vw;
                height:12.1vw;
                
                }
                
                
                /* Cтили слоя затемнения и модального окна  */
.overlay {
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1;
visibility: hidden;
/* фон затемнения */
background-color: rgba(0, 0, 0, 0.7);
opacity: 0;
position: fixed; /* фиксированное поцизионирование */
cursor: default; 
-webkit-transition: opacity .5s;
transition: opacity .5s;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.modal>img {

top: 10vw;
right: 0;
bottom: 0;
left: 0;
display:block;
margin: auto;
min-width: 320px;
max-width: 100%;
width: 100%;
max-height: 80vh;
}
.modal>.read{
    position:absolute;
    z-index:50;
    left:-3vw;
    top:0;
    width: 25vw;
    max-height:80vh;
    border-radius: 3px;
    padding:10px;
    background: #fff;
    font-size: 1.2em;
    text-align: left;
   
}
/* Cтили модального окна*/
.modal {
top: 0;
right: 0;
left: 0;
font-size: 14px;
z-index: 30;
display: block;
visibility: hidden;
margin: 0 auto;
width: 90%;
min-width: 300px;
max-width: 800px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
position: fixed;
padding: 15px;
border: 1px solid #383838;
border-radius: 4px;
background-color: #FFFFFF;
/* внешняя тень блока */
-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
-o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
/* полная прозрачность окна, появление при клике */
opacity: 0;
/* эффект перехода (появление) */
-webkit-transition: all ease .5s;
transition: all ease .5s;
}
/* активируем появление окна и затемнение фона */
.overlay:target+.modal {
top: 10%; /* положение окна от верха страницы при появлении */
visibility: visible;
opacity: 1; /* убираем прозрачность */
}
/* кнопка закрытия */
.close {
position: absolute;
top: -10px;
right: -10px;padding: 0;
width: 20px;
height: 20px;
border: 2px solid #ccc;
border-radius: 15px;
background-color: rgba(61, 61, 61, 0.8);
-webkit-box-shadow: 0px 0px 10px #000;
box-shadow: 0px 0px 10px #000;
text-align: center;
text-decoration: none;
font-weight: bold;
line-height: 20px;
/*эффект перехода при наведении */
-webkit-transition: all ease .8s;
transition: all ease .8s;
}
.close:before {
color: rgba(255, 255, 255, 0.9);
content: "X";
text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
font-size: 12px;
}
.close:hover {
background-color: #FF4081;
/* крутим кнопку при наведении */
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
      






.slider {
    -webkit-box-flex:5;
        -ms-flex:5;
            flex:5;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: .5em;
    background-color: #fff;
    width:100%;
    height:100%;
}

.slides {
   padding:0;
}

.slides .block {
    width: 500%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.letter {
    float: left;
    width: 20%;
}

.letter img {
    width: 100%;
    height:21em;
}

.letter:after {
    clear: both;
    content: "";
    height: 0;
    display: block;
}

.overflow {
    overflow: hidden;
}

.slider input {
    display: none;
}

.arrows {
    position: absolute;
    left: .8em;
    top: 10em;
    width: 95%;
    height: 1em;
}

.arrows label {
    opacity: 0.8;
    display: none;
    cursor: pointer;
}

.arrows label:hover {
    opacity: 1;
}

#slide1:checked~.arrows label:nth-child(2),
#slide2:checked~.arrows label:nth-child(3),
#slide3:checked~.arrows label:nth-child(4),
#slide4:checked~.arrows label:nth-child(5),
#slide5:checked~.arrows label:nth-child(1) {
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-left: 1em solid #333;
    border-bottom: 1em solid transparent;
    display: block;
    float: right;
}

#slide1:checked~.arrows label:nth-child(5),
#slide2:checked~.arrows label:nth-child(1),
#slide3:checked~.arrows label:nth-child(2),
#slide4:checked~.arrows label:nth-child(3),
#slide5:checked~.arrows label:nth-child(4) {
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-right: 1em solid #333;
    border-bottom: 1em solid transparent;
    display: block;
    float: left;
}

#slide1:checked~.slides .block {
    margin-left: 0;
}

#slide2:checked~.slides .block {
    margin-left: -100%;
}

#slide3:checked~.slides .block {
    margin-left: -200%;
}

#slide4:checked~.slides .block {
    margin-left: -300%;
}

#slide5:checked~.slides .block {
    margin-left: -400%;
}

.pins {
    text-align: center;
    margin-top: -1.5em;
}

.pins label {
    width: .5em;
    height: .5em;
    display: inline-block;
    background: #aaa;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.6), 0px 1px 1px 0px white;
            box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.6), 0px 1px 1px 0px white;
    cursor: pointer;
    margin: .1em;
}

.pins label:hover {
    background-color: #777;
}

#slide1:checked~.pins label:nth-child(1),
#slide2:checked~.pins label:nth-child(2),
#slide3:checked~.pins label:nth-child(3),
#slide4:checked~.pins label:nth-child(4),
#slide5:checked~.pins label:nth-child(5) {
    background-color: #777;
}


.detail {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding:.5em 1em .5em 1em;
}
.overview{
    font-size:1.2em;
    padding: .5em 0 0.5em 0em;
    color:#757575;
    text-transform: uppercase;
    border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
}
.overview:hover{
    color: #FF4081;
}
.overview+.detail-block{
    padding-top: .7em;
}
 .detail-block{
     -webkit-box-flex:1;
         -ms-flex:1;
             flex:1;
     -ms-flex-item-align: stretch;
         align-self: stretch;
     display:-webkit-box;
     display:-ms-flexbox;
     display:flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     color: #212121;
     font-size: .9em;
     padding: .2em;
 }
 .detail-block div:nth-of-type(2){
     font-weight: 600;
 }
.description-item, .facilities-detail{
   color: #212121;
   font-size: .9em; 
   
} 
.description-item{
    text-align: justify;
}
.facilities-detail{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.facilities-detail ul{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    
}
.facilities-detail ul li{
    width: 8em;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    position:relative;
    margin: .9em;
}
.facilities-detail ul li:before{
   content:"\2714";
   display:block;
   position: absolute;
   left: -1em;
   top: 0;
   color: #FF4081;
   
}
.facilities-detail ul li:nth-of-type(1):before, 
.facilities-detail ul li:nth-of-type(9):before, 
.facilities-detail ul li:nth-of-type(11):before,
.facilities-detail ul li:nth-of-type(5):before,
.facilities-detail ul li:nth-of-type(14):before{
   content:"\2717";
   display:block;
   position: absolute;
   left: -1em;
   top: 0;
   color: #BDBDBD; 
}

/*The end of content flexbox*/



aside{
    width:25%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top:1em;
    margin-left:2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background-color: #FFF;
}

.best{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    padding-bottom: 0;
    border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
    -ms-flex-item-align:stretch;
        align-self:stretch;
    font-weight: 100;
    margin: 0;
    color:#BDBDBD;
    padding-left: .5em;
    
    
}
.agents{
    -webkit-box-flex:3;
        -ms-flex:3;
            flex:3;
    -ms-flex-item-align:stretch;
        align-self:stretch;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
}
.agent{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    background-color: #fff;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:0;
}
.photo{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -ms-flex-item-align:center;
        align-self:center;
    padding: 0;
    padding-left: 1em;
}
.photo img{
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0.5px rgba(0,0,0,0.2);
            box-shadow: 0 0 0.5px rgba(0,0,0,0.2);
    width:4em;
    height:4em;
}
.connect{
    -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;
    -ms-flex-item-align:start;
        align-self:flex-start;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-flow:column wrap;
            flex-flow:column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align:stretch;
        -ms-flex-align:stretch;
            align-items:stretch;
    margin-right: 0.8em;
}
.first{
  border-bottom: 0.05em solid rgba(213, 205, 205, 0.87);
  padding:1.3em 0 0.8em 0;
 
}

.second{
   border-bottom: 0.05em solid rgba(213, 205, 205, 0.87); 
   padding-bottom:0.8em;
   
  
}
.third{
  padding-bottom:0.3em;
  border: none;
}

.connect * {
   -ms-flex-item-align: start;
       align-self: flex-start;
   padding-bottom: 0.5em;
    
}
.connect div:nth-of-type(2) 
{
    color:#FF4081;
    font-size:0.8em;
}
.connect div:first-of-type 
{
    color:#212121;
    font-size:1.0em;
    font-weight: 500;
     padding-top: 0.5em;
}
.connect div:last-of-type a
{
    color:#212121;
    font-size:0.8em;
    text-decoration: none;
}

.email{
    -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;
    -ms-flex-item-align:stretch;
        align-self:stretch;
    padding: 0.8em;
    background-color:  #2196F3;
    margin-top: 1em;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.email form{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFF;
}
.email input[type=email]{
    -webkit-box-flex:3;
        -ms-flex:3;
            flex:3;
    -ms-flex-item-align:stretch;
        align-self:stretch;
    color: #FFF;
    border: none;
    border-bottom: 1px solid #FFF;
    
}
.email input[type=submit]{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -ms-flex-item-align: end;
        align-self: flex-end;
    cursor: pointer;
    background-color: #FF4081;
    border-radius: 3px;
    color: #FFF;
    margin-top: 1em;
    padding: 0.5em;
}
.email_block .email_block_small:first-child{
    -webkit-box-flex:2;
        -ms-flex:2;
            flex:2;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 0.5em 0;
    font: 0.8em;
}
.email_block .email_block_small:last-child{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-right: 0.8em;
    color: #fff;
    font-size: 0.8em;
    background:#FF4081;
    margin-top: 0.8em;
    padding: 0.5em;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
}